[data-theme="abyss"] {
    /* Code blocks */
}
[data-theme="abyss"] code[class*="language-"], [data-theme="abyss"] pre[class*="language-"] {
    color: #68c;
    font-family: Menlo, Monaco, Consolas, "Andale Mono", "Ubuntu Mono", "Courier New", monospace;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}
[data-theme="abyss"] pre[class*="language-"]::-moz-selection, [data-theme="abyss"] pre[class*="language-"] ::-moz-selection, [data-theme="abyss"] code[class*="language-"]::-moz-selection, [data-theme="abyss"] code[class*="language-"] ::-moz-selection {
    text-shadow: none;
    background: #770811;
}
[data-theme="abyss"] pre[class*="language-"]::selection, [data-theme="abyss"] pre[class*="language-"] ::selection, [data-theme="abyss"] code[class*="language-"]::selection, [data-theme="abyss"] code[class*="language-"] ::selection {
    text-shadow: none;
    background: #770811;
}
@media print {
    [data-theme="abyss"] code[class*="language-"], [data-theme="abyss"] pre[class*="language-"] {
        text-shadow: none;
    }
}
[data-theme="abyss"] pre[class*="language-"] {
    overflow: auto;
}
[data-theme="abyss"] :not(pre) > code[class*="language-"], [data-theme="abyss"] pre[class*="language-"] {
    color: #68c;
}
[data-theme="abyss"] :not(pre) > code[class*="language-"] {
    padding: 0.1em;
    border-radius: 0.3em;
    white-space: normal;
}
[data-theme="abyss"] .token.comment {
    color: #384887;
}
[data-theme="abyss"] .token.string, [data-theme="abyss"] .token.tag.attr-value, [data-theme="abyss"] .token.content {
    color: #2a4;
}
[data-theme="abyss"] .token.number {
    color: #f280d0;
}
[data-theme="abyss"] .token.builtin {
    color: #f280d0;
}
[data-theme="abyss"] .token.char {
    color: #f280d0;
}
[data-theme="abyss"] .token.constant {
    color: #f280d0;
}
[data-theme="abyss"] .token.keyword {
    color: #258;
}
[data-theme="abyss"] .token.tag {
    color: #258;
}
[data-theme="abyss"] .token.class-name {
    color: #feb;
    text-decoration: underline;
}
[data-theme="abyss"] .token.namespace {
    color: #feb;
    text-decoration: underline;
}
[data-theme="abyss"] .token.function {
    color: #db8;
}
[data-theme="abyss"] .token.attr-name {
    color: #db8;
}
[data-theme="abyss"] .token.selector {
    color: #db8;
}
[data-theme="abyss"] .token.builtin, [data-theme="abyss"] .token.macro {
    color: #9966b8;
}
[data-theme="abyss"] .token.code-snippet {
    color: #9966b8;
}
[data-theme="abyss"] .token.property {
    color: #9966b8;
    font-style: italic;
}
[data-theme="abyss"] .token.tag.class-name {
    color: #9966b8;
    font-style: italic;
}
[data-theme="abyss"] .token.tag.punctuation {
    color: #68c;
}
[data-theme="abyss"] .token.deleted {
    color: #dc322f;
}
[data-theme="abyss"] .token.changed {
    color: #cb4b16;
}
[data-theme="abyss"] .token.inserted {
    color: #219186;
}
[data-theme="abyss"] .token.title, [data-theme="abyss"] .token.title.punctuation {
    color: #68c;
    font-weight: bold;
}
[data-theme="abyss"] .token.important, [data-theme="abyss"] .token.bold {
    font-weight: bold;
}
[data-theme="abyss"] .token.italic {
    font-style: italic;
}
[data-theme="abyss"] .token.url {
    text-decoration: underline;
}

