[data-theme="darcula"] {
    /* Code blocks */
}
[data-theme="darcula"] code[class*="language-"], [data-theme="darcula"] pre[class*="language-"] {
    color: #f8f8f2;
    font-family: Menlo, Monaco, Consolas, "Andale Mono", "Ubuntu Mono", "Courier New", monospace;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}
[data-theme="darcula"] pre[class*="language-"]::-moz-selection, [data-theme="darcula"] pre[class*="language-"] ::-moz-selection, [data-theme="darcula"] code[class*="language-"]::-moz-selection, [data-theme="darcula"] code[class*="language-"] ::-moz-selection {
    text-shadow: none;
    background: rgba(33, 66, 131, .85);
}
[data-theme="darcula"] pre[class*="language-"]::selection, [data-theme="darcula"] pre[class*="language-"] ::selection, [data-theme="darcula"] code[class*="language-"]::selection, [data-theme="darcula"] code[class*="language-"] ::selection {
    text-shadow: none;
    background: rgba(33, 66, 131, .85);
}
@media print {
    [data-theme="darcula"] code[class*="language-"], [data-theme="darcula"] pre[class*="language-"] {
        text-shadow: none;
    }
}
[data-theme="darcula"] pre[class*="language-"] {
    overflow: auto;
}
[data-theme="darcula"] :not(pre) > code[class*="language-"], [data-theme="darcula"] pre[class*="language-"] {
    color: #f8f8f2;
}
[data-theme="darcula"] :not(pre) > code[class*="language-"] {
    padding: 0.1em;
    border-radius: 0.3em;
    white-space: normal;
}
[data-theme="darcula"] .token.comment, [data-theme="darcula"] .token.prolog, [data-theme="darcula"] .token.cdata {
    color: #808080;
}
[data-theme="darcula"] .token.delimiter, [data-theme="darcula"] .token.boolean, [data-theme="darcula"] .token.keyword, [data-theme="darcula"] .token.selector, [data-theme="darcula"] .token.important, [data-theme="darcula"] .token.atrule {
    color: #cc7832;
}
[data-theme="darcula"] .token.operator, [data-theme="darcula"] .token.punctuation, [data-theme="darcula"] .token.attr-name {
    color: #a9b7c6;
}
[data-theme="darcula"] .token.tag, [data-theme="darcula"] .token.tag .punctuation, [data-theme="darcula"] .token.doctype, [data-theme="darcula"] .token.builtin {
    color: #FFC66D;
}
[data-theme="darcula"] .token.tag.class-name {
    color: #27BDA4;
}
[data-theme="darcula"] .token.tag.attr-name, [data-theme="darcula"] .token.tag.script {
    color: #f8f8f2;
}
[data-theme="darcula"] .token.tag.punctuation {
    color: #FFC66D;
}
[data-theme="darcula"] .token.entity, [data-theme="darcula"] .token.number, [data-theme="darcula"] .token.symbol {
    color: #6897bb;
}
[data-theme="darcula"] .token.property, [data-theme="darcula"] .token.variable {
    color: #9876aa;
}
[data-theme="darcula"] .token.constant {
    color: #9876aa;
    font-weight: bold;
    font-style: italic;
}
[data-theme="darcula"] .token.class-name {
    color: #9876aa;
    font-style: italic;
}
[data-theme="darcula"] .token.title {
    font-style: italic;
    color: #9876aa;
}
[data-theme="darcula"] .token.title.punctuation {
    color: #cc7832;
}
[data-theme="darcula"] .token.string, [data-theme="darcula"] .token.char {
    color: #6A8759;
}
[data-theme="darcula"] .token.attr-value, [data-theme="darcula"] .token.attr-value .punctuation {
    color: #a5c261;
}
[data-theme="darcula"] .token.attr-value .punctuation:first-child {
    color: #a9b7c6;
}
[data-theme="darcula"] .token.url {
    color: #287bde;
    text-decoration: underline;
}
[data-theme="darcula"] .token.function {
    color: #ffc66d;
}
[data-theme="darcula"] .token.regex {
    background: #364135;
}
[data-theme="darcula"] .token.bold {
    font-weight: bold;
}
[data-theme="darcula"] .token.italic {
    font-style: italic;
}
[data-theme="darcula"] .token.inserted {
    background: #294436;
}
[data-theme="darcula"] .token.deleted {
    background: #484a4a;
}
[data-theme="darcula"] .token.macro {
    color: #4DADE5;
}
[data-theme="darcula"] .token.code-snippet {
    color: #6A8759;
}
[data-theme="darcula"] pre[class*="language-css"] .token.property, [data-theme="darcula"] pre[class*="language-css"] .token.property + .token.punctuation {
    color: #f8f8f2;
}
[data-theme="darcula"] pre[class*="language-css"] .token.id {
    color: #ffc66d;
}
[data-theme="darcula"] pre[class*="language-css"] .token.selector {
    color: #ffc66d;
}
[data-theme="darcula"] pre[class*="language-css"] .token.plain {
    color: #A6C260;
}
[data-theme="darcula"] pre[class*="language-toml"] .token.class-name {
    color: #cc7832;
    font-style: normal;
}
[data-theme="darcula"] pre[class*="language-toml"] .token.property {
    color: #cc7832;
}
[data-theme="darcula"] pre[class*="language-toml"] .token.boolean {
    color: #f8f8f2;
}
[data-theme="darcula"] .token.important, [data-theme="darcula"] .token.bold {
    font-weight: bold;
}
[data-theme="darcula"] .token.italic {
    font-style: italic;
}
[data-theme="darcula"] .token.url {
    text-decoration: underline;
}
