[data-theme="dark"] {
    /********************************************************* * Tokens */
    /********************************************************* * Language Specific */
    /********************************************************* * Line highlighting */
}
[data-theme="dark"] pre[class*="language-"], [data-theme="dark"] code[class*="language-"],
[data-theme="black"] pre[class*="language-"], [data-theme="black"] code[class*="language-"] {
    color: #d4d4d4;
    text-shadow: none;
    font-family: "Fira Code", Menlo, Monaco, Consolas, "Andale Mono", "Ubuntu Mono", "Courier New", monospace;
    direction: ltr;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    line-height: 1.5;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}
[data-theme="dark"] pre[class*="language-"]::selection,
[data-theme="dark"] code[class*="language-"]::selection,
[data-theme="dark"] pre[class*="language-"] *::selection,
[data-theme="dark"] code[class*="language-"] *::selection,
[data-theme="black"] pre[class*="language-"]::selection,
[data-theme="black"] code[class*="language-"]::selection,
[data-theme="black"] pre[class*="language-"] *::selection,
[data-theme="black"] code[class*="language-"] *::selection {
    text-shadow: none;
    background: #264f78;
}
@media print {
    [data-theme="dark"] pre[class*="language-"], [data-theme="dark"] code[class*="language-"],
    [data-theme="black"] pre[class*="language-"], [data-theme="black"] code[class*="language-"] {
        text-shadow: none;
    }
}
[data-theme="dark"] pre[class*="language-"], [data-theme="black"] pre[class*="language-"] {
    /*padding: 1em;
    */
    /*margin: .5em 0;
    */
    /*overflow: auto;
    */
    background: transparent;
}
[data-theme="dark"] :not(pre) > code[class*="language-"] , [data-theme="black"] :not(pre) > code[class*="language-"] {
    padding: 0.1em 0.3em;
    border-radius: 0.3em;
    color: #db4c69;
    /*background: #1e1e1e;
    */
}
[data-theme="dark"] .namespace , [data-theme="black"] .namespace {
    opacity: 0.7;
}
[data-theme="dark"] .token.doctype .token.doctype-tag , [data-theme="black"] .token.doctype .token.doctype-tag {
    color: #569cd6;
}
[data-theme="dark"] .token.doctype .token.name , [data-theme="black"] .token.doctype .token.name {
    color: #9cdcfe;
}
[data-theme="dark"] .token.comment, [data-theme="black"] .token.comment, [data-theme="dark"] .token.prolog , [data-theme="black"] .token.prolog {
    color: #6a9955;
}
[data-theme="dark"] .token.property, [data-theme="black"] .token.property, [data-theme="dark"] .token.tag, [data-theme="black"] .token.tag, [data-theme="dark"] .token.boolean, [data-theme="black"] .token.boolean, [data-theme="dark"] .token.number, [data-theme="black"] .token.number, [data-theme="dark"] .token.constant, [data-theme="black"] .token.constant, [data-theme="dark"] .token.symbol, [data-theme="black"] .token.symbol, [data-theme="dark"] .token.inserted, [data-theme="black"] .token.inserted, [data-theme="dark"] .token.unit , [data-theme="black"] .token.unit {
    color: #b5cea8;
}
[data-theme="dark"] .token.tag , [data-theme="black"] .token.tag {
    color: #569cd6;
}
[data-theme="dark"] .token.punctuation, [data-theme="black"] .token.punctuation, [data-theme="dark"] .language-html .language-css .token.punctuation, [data-theme="black"] .language-html .language-css .token.punctuation, [data-theme="dark"] .language-html .language-javascript .token.punctuation , [data-theme="black"] .language-html .language-javascript .token.punctuation {
    color: #d4d4d4;
}
[data-theme="dark"] .token.selector, [data-theme="black"] .token.selector, [data-theme="dark"] .token.attr-name, [data-theme="black"] .token.attr-name, [data-theme="dark"] .token.string, [data-theme="black"] .token.string, [data-theme="dark"] .token.char, [data-theme="black"] .token.char, [data-theme="dark"] .token.builtin, [data-theme="black"] .token.builtin, [data-theme="dark"] .token.deleted , [data-theme="black"] .token.deleted {
    color: #ce9178;
}
[data-theme="dark"] .language-css .token.string.url , [data-theme="black"] .language-css .token.string.url {
    text-decoration: underline;
}
[data-theme="dark"] .token.operator, [data-theme="black"] .token.operator, [data-theme="dark"] .token.entity , [data-theme="black"] .token.entity {
    color: #d4d4d4;
}
[data-theme="dark"] .token.operator.arrow , [data-theme="black"] .token.operator.arrow {
    color: #569cd6;
}
[data-theme="dark"] .token.atrule , [data-theme="black"] .token.atrule {
    color: #ce9178;
}
[data-theme="dark"] .token.atrule .token.rule , [data-theme="black"] .token.atrule .token.rule {
    color: #c586c0;
}
[data-theme="dark"] .token.atrule .token.url , [data-theme="black"] .token.atrule .token.url {
    color: #9cdcfe;
}
[data-theme="dark"] .token.atrule .token.url .token.function , [data-theme="black"] .token.atrule .token.url .token.function {
    color: #dcdcaa;
}
[data-theme="dark"] .token.atrule .token.url .token.punctuation , [data-theme="black"] .token.atrule .token.url .token.punctuation {
    color: #d4d4d4;
}
[data-theme="dark"] .token.keyword , [data-theme="black"] .token.keyword {
    color: #569cd6;
}
[data-theme="dark"] .token.keyword.module, [data-theme="black"] .token.keyword.module, [data-theme="dark"] .token.keyword.control-flow , [data-theme="black"] .token.keyword.control-flow {
    color: #c586c0;
}
[data-theme="dark"] .token.function, [data-theme="black"] .token.function, [data-theme="dark"] .token.function .token.maybe-class-name , [data-theme="black"] .token.function .token.maybe-class-name {
    color: #dcdcaa;
}
[data-theme="dark"] .token.regex , [data-theme="black"] .token.regex {
    color: #d16969;
}
[data-theme="dark"] .token.important , [data-theme="black"] .token.important {
    color: #569cd6;
}
[data-theme="dark"] .token.italic , [data-theme="black"] .token.italic {
    font-style: italic;
}
[data-theme="dark"] .token.constant , [data-theme="black"] .token.constant {
    color: #9cdcfe;
}
[data-theme="dark"] .token.class-name, [data-theme="black"] .token.class-name, [data-theme="dark"] .token.maybe-class-name , [data-theme="black"] .token.maybe-class-name {
    color: #4ec9b0;
}
[data-theme="dark"] .token.console , [data-theme="black"] .token.console {
    color: #9cdcfe;
}
[data-theme="dark"] .token.parameter , [data-theme="black"] .token.parameter {
    color: #9cdcfe;
}
[data-theme="dark"] .token.interpolation , [data-theme="black"] .token.interpolation {
    color: #9cdcfe;
}
[data-theme="dark"] .token.punctuation.interpolation-punctuation , [data-theme="black"] .token.punctuation.interpolation-punctuation {
    color: #569cd6;
}
[data-theme="dark"] .token.boolean , [data-theme="black"] .token.boolean {
    color: #569cd6;
}
[data-theme="dark"] .token.property, [data-theme="black"] .token.property, [data-theme="dark"] .token.variable, [data-theme="black"] .token.variable, [data-theme="dark"] .token.imports .token.maybe-class-name, [data-theme="black"] .token.imports .token.maybe-class-name, [data-theme="dark"] .token.exports .token.maybe-class-name , [data-theme="black"] .token.exports .token.maybe-class-name {
    color: #9cdcfe;
}
[data-theme="dark"] .token.selector , [data-theme="black"] .token.selector {
    color: #d7ba7d;
}
[data-theme="dark"] .token.escape , [data-theme="black"] .token.escape {
    color: #d7ba7d;
}
[data-theme="dark"] .token.tag .token.punctuation , [data-theme="black"] .token.tag .token.punctuation {
    color: #808080;
}
[data-theme="dark"] .token.cdata , [data-theme="black"] .token.cdata {
    color: #808080;
}
[data-theme="dark"] .token.attr-name , [data-theme="black"] .token.attr-name {
    color: #9cdcfe;
}
[data-theme="dark"] .token.attr-value, [data-theme="black"] .token.attr-value, [data-theme="dark"] .token.attr-value .token.punctuation , [data-theme="black"] .token.attr-value .token.punctuation {
    color: #ce9178;
}
[data-theme="dark"] .token.attr-value .token.punctuation.attr-equals , [data-theme="black"] .token.attr-value .token.punctuation.attr-equals {
    color: #d4d4d4;
}
[data-theme="dark"] .token.entity , [data-theme="black"] .token.entity {
    color: #569cd6;
}
[data-theme="dark"] .token.namespace , [data-theme="black"] .token.namespace {
    color: #4ec9b0;
}
[data-theme="dark"] pre[class*="language-javascript"], [data-theme="black"] pre[class*="language-javascript"], [data-theme="dark"] code[class*="language-javascript"], [data-theme="black"] code[class*="language-javascript"], [data-theme="dark"] pre[class*="language-jsx"], [data-theme="black"] pre[class*="language-jsx"], [data-theme="dark"] code[class*="language-jsx"], [data-theme="black"] code[class*="language-jsx"], [data-theme="dark"] pre[class*="language-typescript"], [data-theme="black"] pre[class*="language-typescript"], [data-theme="dark"] code[class*="language-typescript"], [data-theme="black"] code[class*="language-typescript"], [data-theme="dark"] pre[class*="language-tsx"], [data-theme="black"] pre[class*="language-tsx"], [data-theme="dark"] code[class*="language-tsx"] , [data-theme="black"] code[class*="language-tsx"] {
    color: #9cdcfe;
}
[data-theme="dark"] pre[class*="language-css"], [data-theme="black"] pre[class*="language-css"], [data-theme="dark"] code[class*="language-css"] , [data-theme="black"] code[class*="language-css"] {
    color: #ce9178;
}
[data-theme="dark"] pre[class*="language-html"], [data-theme="black"] pre[class*="language-html"], [data-theme="dark"] code[class*="language-html"] , [data-theme="black"] code[class*="language-html"] {
    color: #d4d4d4;
}
[data-theme="dark"] .language-regex .token.anchor , [data-theme="black"] .language-regex .token.anchor {
    color: #dcdcaa;
}
[data-theme="dark"] .language-html .token.punctuation , [data-theme="black"] .language-html .token.punctuation {
    color: #808080;
}
[data-theme="dark"] pre[class*="language-"] > code[class*="language-"] , [data-theme="black"] pre[class*="language-"] > code[class*="language-"] {
    position: relative;
    z-index: 1;
}
[data-theme="dark"] .line-highlight.line-highlight , [data-theme="black"] .line-highlight.line-highlight {
    background: #f7ebc6;
    box-shadow: inset 5px 0 0 #f7d87c;
    z-index: 0;
}

@media (prefers-color-scheme: dark) {
    [data-theme="system"] {
        /********************************************************* * Tokens */
        /********************************************************* * Language Specific */
        /********************************************************* * Line highlighting */
    }
    [data-theme="system"] pre[class*="language-"], [data-theme="system"] code[class*="language-"] {
        color: #d4d4d4;
        text-shadow: none;
        font-family: "Fira Code", Menlo, Monaco, Consolas, "Andale Mono", "Ubuntu Mono", "Courier New", monospace;
        direction: ltr;
        text-align: left;
        white-space: pre;
        word-spacing: normal;
        word-break: normal;
        line-height: 1.5;
        -moz-tab-size: 4;
        -o-tab-size: 4;
        tab-size: 4;
        -webkit-hyphens: none;
        -moz-hyphens: none;
        -ms-hyphens: none;
        hyphens: none;
    }
    [data-theme="system"] pre[class*="language-"]::selection, [data-theme="system"] code[class*="language-"]::selection, [data-theme="system"] pre[class*="language-"] *::selection, [data-theme="system"] code[class*="language-"] *::selection {
        text-shadow: none;
        background: #264f78;
    }
    @media print {
        [data-theme="system"] pre[class*="language-"], [data-theme="system"] code[class*="language-"] {
            text-shadow: none;
        }
    }
    [data-theme="system"] pre[class*="language-"] {
        /*padding: 1em;
        */
        /*margin: .5em 0;
        */
        /*overflow: auto;
        */
        background: transparent;
    }
    [data-theme="system"] :not(pre) > code[class*="language-"] {
        padding: 0.1em 0.3em;
        border-radius: 0.3em;
        color: #db4c69;
        /*background: #1e1e1e;
        */
    }
    [data-theme="system"] .namespace {
        opacity: 0.7;
    }
    [data-theme="system"] .token.doctype .token.doctype-tag {
        color: #569cd6;
    }
    [data-theme="system"] .token.doctype .token.name {
        color: #9cdcfe;
    }
    [data-theme="system"] .token.comment, [data-theme="system"] .token.prolog {
        color: #6a9955;
    }
    [data-theme="system"] .token.property, [data-theme="system"] .token.tag, [data-theme="system"] .token.boolean, [data-theme="system"] .token.number, [data-theme="system"] .token.constant, [data-theme="system"] .token.symbol, [data-theme="system"] .token.inserted, [data-theme="system"] .token.unit {
        color: #b5cea8;
    }
    [data-theme="system"] .token.tag {
        color: #569cd6;
    }
    [data-theme="system"] .token.punctuation, [data-theme="system"] .language-html .language-css .token.punctuation, [data-theme="system"] .language-html .language-javascript .token.punctuation {
        color: #d4d4d4;
    }
    [data-theme="system"] .token.selector, [data-theme="system"] .token.attr-name, [data-theme="system"] .token.string, [data-theme="system"] .token.char, [data-theme="system"] .token.builtin, [data-theme="system"] .token.deleted {
        color: #ce9178;
    }
    [data-theme="system"] .language-css .token.string.url {
        text-decoration: underline;
    }
    [data-theme="system"] .token.operator, [data-theme="system"] .token.entity {
        color: #d4d4d4;
    }
    [data-theme="system"] .token.operator.arrow {
        color: #569cd6;
    }
    [data-theme="system"] .token.atrule {
        color: #ce9178;
    }
    [data-theme="system"] .token.atrule .token.rule {
        color: #c586c0;
    }
    [data-theme="system"] .token.atrule .token.url {
        color: #9cdcfe;
    }
    [data-theme="system"] .token.atrule .token.url .token.function {
        color: #dcdcaa;
    }
    [data-theme="system"] .token.atrule .token.url .token.punctuation {
        color: #d4d4d4;
    }
    [data-theme="system"] .token.keyword {
        color: #569cd6;
    }
    [data-theme="system"] .token.keyword.module, [data-theme="system"] .token.keyword.control-flow {
        color: #c586c0;
    }
    [data-theme="system"] .token.function, [data-theme="system"] .token.function .token.maybe-class-name {
        color: #dcdcaa;
    }
    [data-theme="system"] .token.regex {
        color: #d16969;
    }
    [data-theme="system"] .token.important {
        color: #569cd6;
    }
    [data-theme="system"] .token.italic {
        font-style: italic;
    }
    [data-theme="system"] .token.constant {
        color: #9cdcfe;
    }
    [data-theme="system"] .token.class-name, [data-theme="system"] .token.maybe-class-name {
        color: #4ec9b0;
    }
    [data-theme="system"] .token.console {
        color: #9cdcfe;
    }
    [data-theme="system"] .token.parameter {
        color: #9cdcfe;
    }
    [data-theme="system"] .token.interpolation {
        color: #9cdcfe;
    }
    [data-theme="system"] .token.punctuation.interpolation-punctuation {
        color: #569cd6;
    }
    [data-theme="system"] .token.boolean {
        color: #569cd6;
    }
    [data-theme="system"] .token.property, [data-theme="system"] .token.variable, [data-theme="system"] .token.imports .token.maybe-class-name, [data-theme="system"] .token.exports .token.maybe-class-name {
        color: #9cdcfe;
    }
    [data-theme="system"] .token.selector {
        color: #d7ba7d;
    }
    [data-theme="system"] .token.escape {
        color: #d7ba7d;
    }
    [data-theme="system"] .token.tag .token.punctuation {
        color: #808080;
    }
    [data-theme="system"] .token.cdata {
        color: #808080;
    }
    [data-theme="system"] .token.attr-name {
        color: #9cdcfe;
    }
    [data-theme="system"] .token.attr-value, [data-theme="system"] .token.attr-value .token.punctuation {
        color: #ce9178;
    }
    [data-theme="system"] .token.attr-value .token.punctuation.attr-equals {
        color: #d4d4d4;
    }
    [data-theme="system"] .token.entity {
        color: #569cd6;
    }
    [data-theme="system"] .token.namespace {
        color: #4ec9b0;
    }
    [data-theme="system"] pre[class*="language-javascript"], [data-theme="system"] code[class*="language-javascript"], [data-theme="system"] pre[class*="language-jsx"], [data-theme="system"] code[class*="language-jsx"], [data-theme="system"] pre[class*="language-typescript"], [data-theme="system"] code[class*="language-typescript"], [data-theme="system"] pre[class*="language-tsx"], [data-theme="system"] code[class*="language-tsx"] {
        color: #9cdcfe;
    }
    [data-theme="system"] pre[class*="language-css"], [data-theme="system"] code[class*="language-css"] {
        color: #ce9178;
    }
    [data-theme="system"] pre[class*="language-html"], [data-theme="system"] code[class*="language-html"] {
        color: #d4d4d4;
    }
    [data-theme="system"] .language-regex .token.anchor {
        color: #dcdcaa;
    }
    [data-theme="system"] .language-html .token.punctuation {
        color: #808080;
    }
    [data-theme="system"] pre[class*="language-"] > code[class*="language-"] {
        position: relative;
        z-index: 1;
    }
    [data-theme="system"] .line-highlight.line-highlight {
        background: #f7ebc6;
        box-shadow: inset 5px 0 0 #f7d87c;
        z-index: 0;
    }
}
