/** * VS theme by Andrew Lock (https://andrewlock.net) * Inspired by Visual Studio syntax coloring */
[data-theme="light"] {
    /* Code blocks */
    /* Inline code */
    /* overrides color-values for the Line Numbers plugin * http://prismjs.com/plugins/line-numbers/ */
    /* overrides color-values for the Line Highlight plugin * http://prismjs.com/plugins/line-highlight/ */
}
[data-theme="light"] code[class*="language-"], [data-theme="light"] pre[class*="language-"] {
    color: #393a34;
    font-family: "Fira Code", Menlo, Monaco, Consolas, "Andale Mono", "Ubuntu Mono", "Courier New", monospace;
    direction: ltr;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}
[data-theme="light"] pre > code[class*="language-"] {
    font-size: 1em;
}
[data-theme="light"] pre[class*="language-"]::-moz-selection, [data-theme="light"] pre[class*="language-"] ::-moz-selection, [data-theme="light"] code[class*="language-"]::-moz-selection, [data-theme="light"] code[class*="language-"] ::-moz-selection {
    background: #c1def1;
}
[data-theme="light"] pre[class*="language-"]::selection, [data-theme="light"] pre[class*="language-"] ::selection, [data-theme="light"] code[class*="language-"]::selection, [data-theme="light"] code[class*="language-"] ::selection {
    background: #c1def1;
}
[data-theme="light"] pre[class*="language-"] {
    /*padding: 1em;*/
    /*margin: 0.5em 0;*/
    background: transparent;
}
[data-theme="light"] :not(pre) > code[class*="language-"] {
    padding: 0.2em;
    padding-top: 1px;
    padding-bottom: 1px;
    background: #f8f8f8;
    border: 1px solid #ddd;
}
[data-theme="light"] .token.comment, [data-theme="light"] .token.prolog, [data-theme="light"] .token.doctype, [data-theme="light"] .token.cdata {
    color: #008000;
    font-style: italic;
}
[data-theme="light"] .token.namespace {
    opacity: 0.7;
}
[data-theme="light"] .token.string {
    color: #a31515;
}
[data-theme="light"] .token.punctuation, [data-theme="light"] .token.operator {
    color: #393a34;
    /* no highlight */
}
[data-theme="light"] .token.url, [data-theme="light"] .token.symbol, [data-theme="light"] .token.number, [data-theme="light"] .token.boolean, [data-theme="light"] .token.variable, [data-theme="light"] .token.constant, [data-theme="light"] .token.inserted {
    color: #36acaa;
}
[data-theme="light"] .token.atrule, [data-theme="light"] .token.keyword, [data-theme="light"] .token.attr-value, [data-theme="light"] .language-autohotkey .token.selector, [data-theme="light"] .language-json .token.boolean, [data-theme="light"] .language-json .token.number, [data-theme="light"] code[class*="language-css"] {
    color: #00f;
}
[data-theme="light"] .token.function {
    color: #393a34;
}
[data-theme="light"] .token.deleted, [data-theme="light"] .language-autohotkey .token.tag {
    color: #9a050f;
}
[data-theme="light"] .token.selector, [data-theme="light"] .language-autohotkey .token.keyword {
    color: #00009f;
}
[data-theme="light"] .token.important {
    color: #e90;
}
[data-theme="light"] .token.important, [data-theme="light"] .token.bold {
    font-weight: bold;
}
[data-theme="light"] .token.italic {
    font-style: italic;
}
[data-theme="light"] .token.class-name, [data-theme="light"] .language-json .token.property {
    color: #2b91af;
}
[data-theme="light"] .token.tag, [data-theme="light"] .token.selector {
    color: #800000;
}
[data-theme="light"] .token.attr-name, [data-theme="light"] .token.property, [data-theme="light"] .token.regex, [data-theme="light"] .token.entity {
    color: #f00;
}
[data-theme="light"] .token.directive.tag .tag {
    background: #ff0;
    color: #393a34;
}
[data-theme="light"] .line-numbers.line-numbers .line-numbers-rows {
    border-right-color: #a5a5a5;
}
[data-theme="light"] .line-numbers .line-numbers-rows > span:before {
    color: #2b91af;
}
[data-theme="light"] .line-highlight.line-highlight {
    background: rgba(193, 222, 241, 0.2);
    background: -webkit-linear-gradient(left, rgba(193, 222, 241, 0.2) 70%, rgba(221, 222, 241, 0));
    background: linear-gradient(to right, rgba(193, 222, 241, 0.2) 70%, rgba(221, 222, 241, 0));
}

@media (prefers-color-scheme: light) {
    [data-theme="system"] code[class*="language-"], [data-theme="system"] pre[class*="language-"] {
        color: #393a34;
        font-family: "Fira Code", Menlo, Monaco, Consolas, "Andale Mono", "Ubuntu Mono", "Courier New", monospace;
        direction: ltr;
        text-align: left;
        white-space: pre;
        word-spacing: normal;
        word-break: normal;
        -moz-tab-size: 4;
        -o-tab-size: 4;
        tab-size: 4;
        -webkit-hyphens: none;
        -moz-hyphens: none;
        -ms-hyphens: none;
        hyphens: none;
    }
    [data-theme="system"] pre > code[class*="language-"] {
        font-size: 1em;
    }
    [data-theme="system"] pre[class*="language-"]::-moz-selection, [data-theme="system"] pre[class*="language-"] ::-moz-selection, [data-theme="system"] code[class*="language-"]::-moz-selection, [data-theme="system"] code[class*="language-"] ::-moz-selection {
        background: #c1def1;
    }
    [data-theme="system"] pre[class*="language-"]::selection, [data-theme="system"] pre[class*="language-"] ::selection, [data-theme="system"] code[class*="language-"]::selection, [data-theme="system"] code[class*="language-"] ::selection {
        background: #c1def1;
    }
    [data-theme="system"] pre[class*="language-"] {
        /*padding: 1em;*/
        /*margin: 0.5em 0;*/
        background: transparent;
    }
    [data-theme="system"] :not(pre) > code[class*="language-"] {
        padding: 0.2em;
        padding-top: 1px;
        padding-bottom: 1px;
        background: #f8f8f8;
        border: 1px solid #ddd;
    }
    [data-theme="system"] .token.comment, [data-theme="system"] .token.prolog, [data-theme="system"] .token.doctype, [data-theme="system"] .token.cdata {
        color: #008000;
        font-style: italic;
    }
    [data-theme="system"] .token.namespace {
        opacity: 0.7;
    }
    [data-theme="system"] .token.string {
        color: #a31515;
    }
    [data-theme="system"] .token.punctuation, [data-theme="system"] .token.operator {
        color: #393a34;
        /* no highlight */
    }
    [data-theme="system"] .token.url, [data-theme="system"] .token.symbol, [data-theme="system"] .token.number, [data-theme="system"] .token.boolean, [data-theme="system"] .token.variable, [data-theme="system"] .token.constant, [data-theme="system"] .token.inserted {
        color: #36acaa;
    }
    [data-theme="system"] .token.atrule, [data-theme="system"] .token.keyword, [data-theme="system"] .token.attr-value, [data-theme="system"] .language-autohotkey .token.selector, [data-theme="system"] .language-json .token.boolean, [data-theme="system"] .language-json .token.number, [data-theme="system"] code[class*="language-css"] {
        color: #00f;
    }
    [data-theme="system"] .token.function {
        color: #393a34;
    }
    [data-theme="system"] .token.deleted, [data-theme="system"] .language-autohotkey .token.tag {
        color: #9a050f;
    }
    [data-theme="system"] .token.selector, [data-theme="system"] .language-autohotkey .token.keyword {
        color: #00009f;
    }
    [data-theme="system"] .token.important {
        color: #e90;
    }
    [data-theme="system"] .token.important, [data-theme="system"] .token.bold {
        font-weight: bold;
    }
    [data-theme="system"] .token.italic {
        font-style: italic;
    }
    [data-theme="system"] .token.class-name, [data-theme="system"] .language-json .token.property {
        color: #2b91af;
    }
    [data-theme="system"] .token.tag, [data-theme="system"] .token.selector {
        color: #800000;
    }
    [data-theme="system"] .token.attr-name, [data-theme="system"] .token.property, [data-theme="system"] .token.regex, [data-theme="system"] .token.entity {
        color: #f00;
    }
    [data-theme="system"] .token.directive.tag .tag {
        background: #ff0;
        color: #393a34;
    }
    [data-theme="system"] .line-numbers.line-numbers .line-numbers-rows {
        border-right-color: #a5a5a5;
    }
    [data-theme="system"] .line-numbers .line-numbers-rows > span:before {
        color: #2b91af;
    }
    [data-theme="system"] .line-highlight.line-highlight {
        background: rgba(193, 222, 241, 0.2);
        background: -webkit-linear-gradient(left, rgba(193, 222, 241, 0.2) 70%, rgba(221, 222, 241, 0));
        background: linear-gradient(to right, rgba(193, 222, 241, 0.2) 70%, rgba(221, 222, 241, 0));
    }
}
