[data-theme="groovebox-light"] {
    /* Code blocks */
}
[data-theme="groovebox-light"] code[class*="language-"], [data-theme="groovebox-light"] pre[class*="language-"] {
    color: #3c3836;
    font-family: Menlo, Monaco, Consolas, "Andale Mono", "Ubuntu Mono", "Courier New", monospace;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}
[data-theme="groovebox-light"] pre[class*="language-"]::-moz-selection, [data-theme="groovebox-light"] pre[class*="language-"] ::-moz-selection, [data-theme="groovebox-light"] code[class*="language-"]::-moz-selection, [data-theme="groovebox-light"] code[class*="language-"] ::-moz-selection {
    text-shadow: none;
    background: #689d6a40;
}
[data-theme="groovebox-light"] pre[class*="language-"]::selection, [data-theme="groovebox-light"] pre[class*="language-"] ::selection, [data-theme="groovebox-light"] code[class*="language-"]::selection, [data-theme="groovebox-light"] code[class*="language-"] ::selection {
    text-shadow: none;
    background: #689d6a40;
}
@media print {
    [data-theme="groovebox-light"] code[class*="language-"], [data-theme="groovebox-light"] pre[class*="language-"] {
        text-shadow: none;
    }
}
[data-theme="groovebox-light"] pre[class*="language-"] {
    overflow: auto;
}
[data-theme="groovebox-light"] :not(pre) > code[class*="language-"], [data-theme="groovebox-light"] pre[class*="language-"] {
    color: #3c3836;
}
[data-theme="groovebox-light"] :not(pre) > code[class*="language-"] {
    padding: 0.1em;
    border-radius: 0.3em;
    white-space: normal;
}
[data-theme="groovebox-light"] .token.prolog {
    color: #458588;
}
[data-theme="groovebox-light"] .token.comment {
    color: #928374;
    font-style: italic;
}
[data-theme="groovebox-light"] .token.constant {
    color: #8f3f71;
}
[data-theme="groovebox-light"] .token.number {
    color: #8f3f71;
}
[data-theme="groovebox-light"] .token.builtin {
    color: #8f3f71;
}
[data-theme="groovebox-light"] [class*="language-markdown"] span[class="token url"] {
    color: #8f3f71;
}
[data-theme="groovebox-light"] [class*="language-go"] span[class="token function"] {
    color: #8f3f71;
}
[data-theme="groovebox-light"] .token.namespace.punctuation {
    color: #427b58;
}
[data-theme="groovebox-light"] .token.tag {
    color: #427b58;
}
[data-theme="groovebox-light"] .token.tag.class-name {
    color: #427b58;
}
[data-theme="groovebox-light"] .token.selector {
    color: #427b58;
}
[data-theme="groovebox-light"] .token.operator {
    color: #427b58;
}
[data-theme="groovebox-light"] .token.code-snippet {
    color: #427b58;
}
[data-theme="groovebox-light"] [class*="language-markdown"] span[class="token tag"] {
    color: #427b58;
}
[data-theme="groovebox-light"] .token.attr-name {
    color: #b57614;
}
[data-theme="groovebox-light"] .token.tag.attr-name {
    color: #b57614;
}
[data-theme="groovebox-light"] .token.function {
    color: #b57614;
}
[data-theme="groovebox-light"] .token.class-name {
    color: #b57614;
}
[data-theme="groovebox-light"] .token.string {
    color: #79740e;
}
[data-theme="groovebox-light"] .token.tag.attr-value {
    color: #79740e;
}
[data-theme="groovebox-light"] .token.inserted {
    color: #79740e;
}
[data-theme="groovebox-light"] [class*="language-json"] span[class="token property"] {
    color: #79740e;
}
[data-theme="groovebox-light"] .token.content {
    color: #928374;
    text-decoration: underline;
}
[data-theme="groovebox-light"] .token.regex {
    color: #af3a03;
}
[data-theme="groovebox-light"] .token.changed {
    color: #af3a03;
}
[data-theme="groovebox-light"] [class*="language-css"] span[class="token property"] {
    color: #af3a03;
}
[data-theme="groovebox-light"] .token.property {
    color: #689d6a;
}
[data-theme="groovebox-light"] .token.keyword {
    color: #9d0006;
}
[data-theme="groovebox-light"] .token.variable {
    color: #076678;
}
[data-theme="groovebox-light"] [class*="language-json"] span[class="token string"], [data-theme="groovebox-light"] [class*="language-json"] span[class="token tag attr-value"], [data-theme="groovebox-light"] [class*="language-json"] span[class="token content"] {
    color: #076678;
}
[data-theme="groovebox-light"] .token.tag.punctuation {
    color: #076678;
}
[data-theme="groovebox-light"] .token.punctuation {
    color: #7c6f64;
}
[data-theme="groovebox-light"] .token.title {
    color: #af3a03;
    font-weight: bold;
}
[data-theme="groovebox-light"] .token.title.punctuation {
    color: #af3a03;
    font-weight: bold;
}
[data-theme="groovebox-light"] .token.deleted {
    color: #d65d0e;
}
[data-theme="groovebox-light"] [class*="language-css"] span[class="token selector"] {
    color: #3c3836;
}
[data-theme="groovebox-light"] [class*="language-html"] span[class="token tag"], [data-theme="groovebox-light"] [class*="language-html"] span[class="token tag class-name"] {
    color: #427b58;
    font-weight: bold;
}
[data-theme="groovebox-light"] .token.important, [data-theme="groovebox-light"] .token.bold {
    font-weight: bold;
}
[data-theme="groovebox-light"] .token.italic {
    font-style: italic;
}
[data-theme="groovebox-light"] .token.url {
    text-decoration: underline;
}
[data-theme="groovebox-light"] pre[class*="language-javascript"], [data-theme="groovebox-light"] code[class*="language-javascript"], [data-theme="groovebox-light"] pre[class*="language-jsx"], [data-theme="groovebox-light"] code[class*="language-jsx"], [data-theme="groovebox-light"] pre[class*="language-typescript"], [data-theme="groovebox-light"] code[class*="language-typescript"], [data-theme="groovebox-light"] pre[class*="language-tsx"], [data-theme="groovebox-light"] code[class*="language-tsx"] {
    color: #076678;
}
[data-theme="groovebox-light"] pre[class*="language-css"], [data-theme="groovebox-light"] code[class*="language-css"] {
    color: #79740e;
}
