[data-theme="monokai"] code[class*="language-"], [data-theme="monokai"] pre[class*="language-"] {
    color: #f8f8f2;
    font-family: Menlo, Monaco, Consolas, "Andale Mono", "Ubuntu Mono", "Courier New", monospace;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}
[data-theme="monokai"] pre[class*="language-"]::-moz-selection, [data-theme="monokai"] pre[class*="language-"] ::-moz-selection, [data-theme="monokai"] code[class*="language-"]::-moz-selection, [data-theme="monokai"] code[class*="language-"] ::-moz-selection {
    text-shadow: none;
    background: rgba(135, 139, 145, 0.5);
}
[data-theme="monokai"] pre[class*="language-"]::selection, [data-theme="monokai"] pre[class*="language-"] ::selection, [data-theme="monokai"] code[class*="language-"]::selection, [data-theme="monokai"] code[class*="language-"] ::selection {
    text-shadow: none;
    background: rgba(135, 139, 145, 0.5);
}
@media print {
    [data-theme="monokai"] code[class*="language-"], [data-theme="monokai"] pre[class*="language-"] {
        text-shadow: none;
    }
}
[data-theme="monokai"] pre[class*="language-"] {
    overflow: auto;
}
[data-theme="monokai"] :not(pre) > code[class*="language-"], [data-theme="monokai"] pre[class*="language-"] {
    color: white;
}
[data-theme="monokai"] :not(pre) > code[class*="language-"] {
    padding: 0.1em;
    border-radius: 0.3em;
    white-space: normal;
}
[data-theme="monokai"] .token.comment {
    color: #88846f;
}
[data-theme="monokai"] .token.string {
    color: #e6db74;
}
[data-theme="monokai"] .token.changed {
    color: #e6db74;
}
[data-theme="monokai"] .token.punctuation {
    color: #f92672;
}
[data-theme="monokai"] .token.tag {
    color: #66d9ef;
}
[data-theme="monokai"] .token.deleted {
    color: #f92672;
}
[data-theme="monokai"] .token.number {
    color: #ae81ff;
}
[data-theme="monokai"] .token.builtin {
    color: #ae81ff;
}
[data-theme="monokai"] .token.variable {
    color: #f8f8f2;
}
[data-theme="monokai"] .token.function {
    color: #a6e22e;
}
[data-theme="monokai"] .token.attr-name {
    color: #a6e22e;
}
[data-theme="monokai"] .token.attr-value {
    color: #e6db74;
}
[data-theme="monokai"] .token.selector {
    color: #a6e22e;
}
[data-theme="monokai"] .token.inserted {
    color: #a6e22e;
}
[data-theme="monokai"] .token.important {
    color: #a6e22e;
}
[data-theme="monokai"] .token.property {
    color: #66d9ef;
}
[data-theme="monokai"] .token.keyword {
    color: #66d9ef;
}
[data-theme="monokai"] .token.important, [data-theme="monokai"] .token.bold {
    font-weight: bold;
}
[data-theme="monokai"] .token.italic {
    font-style: italic;
}
