[data-theme="night-owl"] {
    /* Code blocks */
}
[data-theme="night-owl"] code[class*="language-"], [data-theme="night-owl"] pre[class*="language-"] {
    color: #e1e4e8;
    font-family: Menlo, Monaco, Consolas, "Andale Mono", "Ubuntu Mono", "Courier New", monospace;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}
[data-theme="night-owl"] pre[class*="language-"]::-moz-selection, [data-theme="night-owl"] pre[class*="language-"] ::-moz-selection, [data-theme="night-owl"] code[class*="language-"]::-moz-selection, [data-theme="night-owl"] code[class*="language-"] ::-moz-selection {
    text-shadow: none;
    background: rgba(29, 59, 83, 0.99);
}
[data-theme="night-owl"] pre[class*="language-"]::selection, [data-theme="night-owl"] pre[class*="language-"] ::selection, [data-theme="night-owl"] code[class*="language-"]::selection, [data-theme="night-owl"] code[class*="language-"] ::selection {
    text-shadow: none;
    background: rgba(29, 59, 83, 0.99);
}
@media print {
    [data-theme="night-owl"] code[class*="language-"], [data-theme="night-owl"] pre[class*="language-"] {
        text-shadow: none;
    }
}
[data-theme="night-owl"] pre[class*="language-"] {
    overflow: auto;
}
[data-theme="night-owl"] :not(pre) > code[class*="language-"], [data-theme="night-owl"] pre[class*="language-"] {
    color: #e1e4e8;
}
[data-theme="night-owl"] :not(pre) > code[class*="language-"] {
    padding: 0.1em;
    border-radius: 0.3em;
    white-space: normal;
}
[data-theme="night-owl"] .token.comment, [data-theme="night-owl"] .token.prolog, [data-theme="night-owl"] .token.cdata {
    color: #637777;
    font-style: italic;
}
[data-theme="night-owl"] .token.punctuation {
    color: #c792ea;
}
[data-theme="night-owl"] .namespace {
    color: #d6deeb;
}
[data-theme="night-owl"] .token.deleted {
    color: rgba(239, 83, 80, 0.56);
    font-style: italic;
}
[data-theme="night-owl"] .token.symbol, [data-theme="night-owl"] .token.property {
    color: #7fdbca;
}
[data-theme="night-owl"] .token.tag {
    color: #caece6;
}
[data-theme="night-owl"] .token.tag.punctuation {
    color: #7fdbca;
}
[data-theme="night-owl"] .token.operator, [data-theme="night-owl"] .token.keyword {
    color: #c792ea;
}
[data-theme="night-owl"] .token.boolean {
    color: #ff5874;
}
[data-theme="night-owl"] .token.number {
    color: #f78c6c;
}
[data-theme="night-owl"] .token.title, [data-theme="night-owl"] .token.title.important {
    color: #82b1ff;
}
[data-theme="night-owl"] .token.constant, [data-theme="night-owl"] .token.function, [data-theme="night-owl"] .token.builtin, [data-theme="night-owl"] .token.char {
    color: #82aaff;
}
[data-theme="night-owl"] .token.function {
    font-style: italic;
}
[data-theme="night-owl"] .token.selector, [data-theme="night-owl"] .token.doctype {
    color: #c5e478;
    font-style: italic;
}
[data-theme="night-owl"] .token.attr-name, [data-theme="night-owl"] .token.inserted {
    color: #c5e478;
    font-style: italic;
}
[data-theme="night-owl"] .token.string {
    color: #ecc48d;
}
[data-theme="night-owl"] .token.url, [data-theme="night-owl"] .token.entity, [data-theme="night-owl"] .language-css .token.string, [data-theme="night-owl"] .style .token.string {
    color: #ff869a;
}
[data-theme="night-owl"] .token.url.content {
    color: #d6deeb;
}
[data-theme="night-owl"] .token.code-snippet {
    color: #c5e478;
}
[data-theme="night-owl"] .token.macro {
    font-style: italic;
    color: #82b1ff;
}
[data-theme="night-owl"] .token.tag.class-name {
    color: #f78c6c;
}
[data-theme="night-owl"] .token.generic {
    color: #f78c6c;
}
[data-theme="night-owl"] .token.atrule, [data-theme="night-owl"] .token.attr-value {
    color: #ffcb8b;
}
[data-theme="night-owl"] .token.regex, [data-theme="night-owl"] .token.important, [data-theme="night-owl"] .token.variable {
    color: #d6deeb;
}
[data-theme="night-owl"] pre[class*="language-json"] .token.string {
    color: #c789d6;
}
[data-theme="night-owl"] .token.important, [data-theme="night-owl"] .token.bold {
    font-weight: bold;
}
[data-theme="night-owl"] .token.italic {
    font-style: italic;
}
[data-theme="night-owl"] .token.url {
    text-decoration: underline;
}
