[data-theme="solarized-dark"] {
    /* Code blocks */
}
[data-theme="solarized-dark"] code[class*="language-"], [data-theme="solarized-dark"] pre[class*="language-"] {
    color: #839496;
    font-family: Menlo, Monaco, Consolas, "Andale Mono", "Ubuntu Mono", "Courier New", monospace;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}
[data-theme="solarized-dark"] pre[class*="language-"]::-moz-selection, [data-theme="solarized-dark"] pre[class*="language-"] ::-moz-selection, [data-theme="solarized-dark"] code[class*="language-"]::-moz-selection, [data-theme="solarized-dark"] code[class*="language-"] ::-moz-selection {
    text-shadow: none;
    background: #274642;
}
[data-theme="solarized-dark"] pre[class*="language-"]::selection, [data-theme="solarized-dark"] pre[class*="language-"] ::selection, [data-theme="solarized-dark"] code[class*="language-"]::selection, [data-theme="solarized-dark"] code[class*="language-"] ::selection {
    text-shadow: none;
    background: #274642;
}
@media print {
    [data-theme="solarized-dark"] code[class*="language-"], [data-theme="solarized-dark"] pre[class*="language-"] {
        text-shadow: none;
    }
}
[data-theme="solarized-dark"] pre[class*="language-"] {
    overflow: auto;
}
[data-theme="solarized-dark"] :not(pre) > code[class*="language-"], [data-theme="solarized-dark"] pre[class*="language-"] {
    color: #839496;
}
[data-theme="solarized-dark"] :not(pre) > code[class*="language-"] {
    padding: 0.1em;
    border-radius: 0.3em;
    white-space: normal;
}
[data-theme="solarized-dark"] .token.comment {
    color: #586e75;
    font-style: italic;
}
[data-theme="solarized-dark"] .token.string {
    color: #2aa198;
}
[data-theme="solarized-dark"] .token.tag.attr-value {
    color: #2aa198;
}
[data-theme="solarized-dark"] .token.content {
    color: #2aa198;
}
[data-theme="solarized-dark"] .token.code-snippet {
    color: #2aa198;
}
[data-theme="solarized-dark"] .token.regex {
    color: #dc322f;
}
[data-theme="solarized-dark"] .token.deleted {
    color: #dc322f;
}
[data-theme="solarized-dark"] .token.number {
    color: #d33682;
}
[data-theme="solarized-dark"] .token.keyword {
    color: #859900;
}
[data-theme="solarized-dark"] .token.namespace.punctuation {
    color: #859900;
}
[data-theme="solarized-dark"] .token.tag.class-name {
    color: #859900;
}
[data-theme="solarized-dark"] .token.property {
    color: #859900;
}
[data-theme="solarized-dark"] .token.inserted {
    color: #859900;
}
[data-theme="solarized-dark"] .token.class-name {
    color: #cb4b16;
}
[data-theme="solarized-dark"] .token.namespace {
    color: #cb4b16;
}
[data-theme="solarized-dark"] .token.char {
    color: #cb4b16;
}
[data-theme="solarized-dark"] .token.constant {
    color: #cb4b16;
}
[data-theme="solarized-dark"] .token.changed {
    color: #cb4b16;
}
[data-theme="solarized-dark"] .token.function {
    color: #268bd2;
}
[data-theme="solarized-dark"] .token.tag {
    color: #268bd2;
}
[data-theme="solarized-dark"] .token.macro {
    color: #268bd2;
}
[data-theme="solarized-dark"] .token.builtin {
    color: #b58900;
}
[data-theme="solarized-dark"] .token.tag.punctuation {
    color: #586e75;
}
[data-theme="solarized-dark"] .token.attr-name {
    color: #93a1a1;
}
[data-theme="solarized-dark"] .token.tag.attr-name {
    color: #93a1a1;
}
[data-theme="solarized-dark"] .token.title {
    color: #268bd2;
    font-weight: bold;
}
[data-theme="solarized-dark"] .token.title.punctuation {
    color: #268bd2;
    font-weight: bold;
}
[data-theme="solarized-dark"] .token.important, [data-theme="solarized-dark"] .token.bold {
    font-weight: bold;
}
[data-theme="solarized-dark"] .token.italic {
    font-style: italic;
}
[data-theme="solarized-dark"] .token.url {
    text-decoration: underline;
}
[data-theme="solarized-dark"] pre[class*="language-javascript"], [data-theme="solarized-dark"] code[class*="language-javascript"], [data-theme="solarized-dark"] pre[class*="language-jsx"], [data-theme="solarized-dark"] code[class*="language-jsx"], [data-theme="solarized-dark"] pre[class*="language-typescript"], [data-theme="solarized-dark"] code[class*="language-typescript"], [data-theme="solarized-dark"] pre[class*="language-tsx"], [data-theme="solarized-dark"] code[class*="language-tsx"] {
    color: #268bd2;
}
