[data-theme="vsc-default-light"] code[class*="language-"], [data-theme="vsc-default-light"] pre[class*="language-"] {
    color: #000;
    font-family: Menlo, Monaco, Consolas, "Andale Mono", "Ubuntu Mono", "Courier New", monospace;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}
[data-theme="vsc-default-light"] pre[class*="language-"]::-moz-selection, [data-theme="vsc-default-light"] pre[class*="language-"] ::-moz-selection, [data-theme="vsc-default-light"] code[class*="language-"]::-moz-selection, [data-theme="vsc-default-light"] code[class*="language-"] ::-moz-selection {
    text-shadow: none;
    background: #add6ff
}
[data-theme="vsc-default-light"] pre[class*="language-"]::selection, [data-theme="vsc-default-light"] pre[class*="language-"] ::selection, [data-theme="vsc-default-light"] code[class*="language-"]::selection, [data-theme="vsc-default-light"] code[class*="language-"] ::selection {
    text-shadow: none;
    background: #add6ff;
}
@media print {
    [data-theme="vsc-default-light"] code[class*="language-"], [data-theme="vsc-default-light"] pre[class*="language-"] {
        text-shadow: none;
    }
}
[data-theme="vsc-default-light"] pre[class*="language-"] {
    overflow: auto;
}
[data-theme="vsc-default-light"] :not(pre) > code[class*="language-"], [data-theme="vsc-default-light"] pre[class*="language-"] {
    color: #000000;
}
[data-theme="vsc-default-light"] :not(pre) > code[class*="language-"] {
    padding: 0.1em;
    border-radius: 0.3em;
    white-space: normal;
}
[data-theme="vsc-default-light"] .token.comment {
    color: #008000;
}
[data-theme="vsc-default-light"] .token.builtin {
    color: #0070c1;
}
[data-theme="vsc-default-light"] .token.number {
    color: #098658;
}
[data-theme="vsc-default-light"] .token.variable {
    color: #098658;
}
[data-theme="vsc-default-light"] .token.inserted {
    color: #098658;
}
[data-theme="vsc-default-light"] .token.operator {
    color: #000;
}
[data-theme="vsc-default-light"] .token.constant {
    color: #811f3f;
}
[data-theme="vsc-default-light"] .token.hexcode {
    color: #811f3f;
}
[data-theme="vsc-default-light"] .token.regex {
    color: #811f3f;
}
[data-theme="vsc-default-light"] .token.char {
    color: #811f3f;
}
[data-theme="vsc-default-light"] .token.tag {
    color: #800000;
}
[data-theme="vsc-default-light"] .token.attr-name {
    color: #e50000;
}
[data-theme="vsc-default-light"] .token.selector {
    color: #800000;
}
[data-theme="vsc-default-light"] .token.property {
    color: #e50000;
}
[data-theme="vsc-default-light"] .token.deleted {
    color: #a31515;
}
[data-theme="vsc-default-light"] .token.string {
    color: #a31515;
}
[data-theme="vsc-default-light"] .token.changed {
    color: #0451a5;
}
[data-theme="vsc-default-light"] .token.punctuation {
    color: #0451a5;
}
[data-theme="vsc-default-light"] .token.function {
    color: #795e26;
}
[data-theme="vsc-default-light"] .token.keyword {
    color: #00f;
}
[data-theme="vsc-default-light"] .token.class-name {
    color: #267f99;
}
[data-theme="vsc-default-light"] .token.important {
    color: #800000;
}
[data-theme="vsc-default-light"] .token.important, [data-theme="vsc-default-light"] .token.bold {
    font-weight: bold;
}
[data-theme="vsc-default-light"] .token.italic {
    font-style: italic;
}
[data-theme="vsc-default-light"] .token.macro {
    color: #795e26;
}

