[data-theme="vsc-default-dark"] code[class*="language-"], [data-theme="vsc-default-dark"] pre[class*="language-"] {
    color: #d4d4d4;
    text-shadow: none;
    font-family: Menlo, Monaco, Consolas, "Andale Mono", "Ubuntu Mono", "Courier New", monospace;
    direction: ltr;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}
[data-theme="vsc-default-dark"] pre[class*="language-"]::-moz-selection, [data-theme="vsc-default-dark"] pre[class*="language-"] ::-moz-selection, [data-theme="vsc-default-dark"] code[class*="language-"]::-moz-selection, [data-theme="vsc-default-dark"] code[class*="language-"] ::-moz-selection {
    text-shadow: none;
    background: #264f78;
}
[data-theme="vsc-default-dark"] pre[class*="language-"]::selection, [data-theme="vsc-default-dark"] pre[class*="language-"] ::selection, [data-theme="vsc-default-dark"] code[class*="language-"]::selection, [data-theme="vsc-default-dark"] code[class*="language-"] ::selection {
    text-shadow: none;
    background: #264f78;
}
@media print {
    [data-theme="vsc-default-dark"] code[class*="language-"], [data-theme="vsc-default-dark"] pre[class*="language-"] {
        text-shadow: none;
    }
}
[data-theme="vsc-default-dark"] pre[class*="language-"] {
    overflow: auto;
}
[data-theme="vsc-default-dark"] :not(pre) > code[class*="language-"], [data-theme="vsc-default-dark"] pre[class*="language-"] {
    color: white;
}
[data-theme="vsc-default-dark"] :not(pre) > code[class*="language-"] {
    padding: 0.1em;
    border-radius: 0.3em;
    white-space: normal;
}
[data-theme="vsc-default-dark"] .token.prolog {
    color: #000080;
}
[data-theme="vsc-default-dark"] .token.comment {
    color: #6a9955;
}
[data-theme="vsc-default-dark"] .token.punctuation {
    color: #6a9955;
}
[data-theme="vsc-default-dark"] .token.builtin {
    color: #4fc1ff;
}
[data-theme="vsc-default-dark"] .token.number {
    color: #b5cea8;
}
[data-theme="vsc-default-dark"] .token.variable {
    color: #b5cea8;
}
[data-theme="vsc-default-dark"] .token.inserted {
    color: #b5cea8;
}
[data-theme="vsc-default-dark"] .token.operator {
    color: #d4d4d4;
}
[data-theme="vsc-default-dark"] .token.constant {
    color: #646695;
}
[data-theme="vsc-default-dark"] .token.hexcode {
    color: #646695;
}
[data-theme="vsc-default-dark"] .token.tag {
    color: #569cd6;
}
[data-theme="vsc-default-dark"] .token.changed {
    color: #569cd6;
}
[data-theme="vsc-default-dark"] .token.function {
    color: #dcdcaa;
}
[data-theme="vsc-default-dark"] .token.keyword {
    color: #569cd6;
}
[data-theme="vsc-default-dark"] .token.attr-name {
    color: #9cdcfe;
}
[data-theme="vsc-default-dark"] .token.selector {
    color: #d7ba7d;
}
[data-theme="vsc-default-dark"] .token.property {
    color: #9cdcfe;
}
[data-theme="vsc-default-dark"] .token.deleted {
    color: #ce9178;
}
[data-theme="vsc-default-dark"] .token.string {
    color: #ce9178;
}
[data-theme="vsc-default-dark"] .token.regex {
    color: #d16969;
}
[data-theme="vsc-default-dark"] .token.char {
    color: #d16969;
}
[data-theme="vsc-default-dark"] .token.class-name {
    color: #4ec9b0;
}
[data-theme="vsc-default-dark"] .token.important {
    color: #569cd6;
}
[data-theme="vsc-default-dark"] .token.important, [data-theme="vsc-default-dark"] .token.bold {
    font-weight: bold;
}
[data-theme="vsc-default-dark"] .token.italic {
    font-style: italic;
}
