[package]
name = "bleep"
version = "0.1.0"
edition = "2021"
default-run = "bleep"
build = "build.rs"

[features]
default = []
debug = ["console-subscriber", "histogram"]

[[bin]]
name = "bleep"

[[bench]]
name = "snippets"
harness = false

[[bench]]
name = "indexes"
harness = false

[[bench]]
name = "queries"
harness = false

[dependencies]

# core
tantivy = { version = "0.18.1", features = ["mmap"] }
tokio = { version = "1.24.1", features = ["macros", "process", "rt", "rt-multi-thread", "io-std", "io-util", "sync", "fs"] }
futures = "0.3.25"
rayon = "1.6.1"
clap = { version = "4.0.32", features = ["derive"] }
tracing = "0.1.37"
tracing-subscriber = { version = "0.3.16", features = ["env-filter", "registry"] }
color-eyre = "0.6.2"

# for debugging
console-subscriber = { version = "0.1.8", optional = true }
histogram = { version = "0.6.9", optional = true }

# error handling
anyhow = "1.0.68"
thiserror = "1.0.38"

# query parsing
pest = "2.5.2"
pest_derive = "2.5.2"

# code-nav
tree-sitter = "0.20.9"
tree-sitter-c = "0.20.2"
tree-sitter-go = { git = "https://github.com/tree-sitter/tree-sitter-go", rev = "05900fa" }
tree-sitter-javascript = "0.20.0"
tree-sitter-python = "0.20.2"
tree-sitter-rust = "0.20.3"
tree-sitter-typescript = "0.20.1"
tree-sitter-c-sharp = "0.20.0"
tree-sitter-java = { git = "https://github.com/tree-sitter/tree-sitter-java", tag = "v0.20.0" }
tree-sitter-cpp = { git = "https://github.com/tree-sitter/tree-sitter-cpp", rev = "5ead1e2" }
petgraph = { version = "0.6.2", default-features = false, features = ["serde-1"] }

# webserver
serde_json = "1.0.91"
utoipa = { version = "2.4.2", features = ["axum_extras", "yaml"] }
axum = { version = "0.5.17", features = ["http2"] }
tower-http = {version = "0.3.5", features = ["cors", "catch-panic"]}

# api integrations
octocrab = { git = "https://github.com/bloopai/octocrab", features = ["rustls"] }
reqwest = { version = "0.11.13", features = ["rustls-tls", "rustls"], default-features = false }
secrecy = { version = "0.8.0", features = ["serde"] }

# file processing
ignore = "0.4.19"
hyperpolyglot = "0.1.7"
blake3 = "1.3.3"
notify-debouncer-mini = { version = "0.2.1", default-features = false }

# misc
git2 = "0.15.0"
serde = "1.0.152"
regex = "1.7.0"
regex-syntax = "0.6.28"
smallvec = { version = "1.10.0", features = ["serde"]}
async-trait = "0.1.61"
flume = "0.10.14"
dashmap = { version = "5.4.0", features = ["serde"] }
either = "1.8.0"
compact_str = "0.6.1"
bincode = "1.3.3"
directories = "4.0.1"
chrono = { version = "0.4.23", features = ["serde"], default-features = false }
phf = "0.11.1"
rand = "0.8.5"
once_cell = "1.17.0"
replace_with = "0.1.7"
relative-path = "1.7.3"
dunce = "1.0.3"
qdrant-client = "0.11.6"
tokenizers = "0.13.2"
ort = { git = "https://github.com/rsdy/ort", branch = "build-rs-fix" , features = ["prefer-compile-strategy", "compile-static"] }
ndarray = "0.15"
maplit = "1.0.2"
segment = "0.2.1"
uuid = { version = "1.2.2", features = ["v4", "fast-rng"] }

[dev-dependencies]
criterion = { version = "0.4.0", features = ["async_tokio"] }
pretty_assertions = "1.3.0"
tempdir = "0.3.7"   
expect-test = "1.4.0"
reqwest = { version = "0.11.13", features = ["blocking"] }

[build-dependencies]
phf_codegen = "0.11.1"
serde = {version = "1.0.152", features = ["derive"]}
serde_yaml = "0.9.16"
blake3 = "1.3.3"
