[data-theme="atom-one-dark-pro"] {
    /* Code blocks */
}
[data-theme="atom-one-dark-pro"] code[class*="language-"], [data-theme="atom-one-dark-pro"] pre[class*="language-"] {
    color: #abb2bf;
    font-family: Menlo, Monaco, Consolas, "Andale Mono", "Ubuntu Mono", "Courier New", monospace;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}
[data-theme="atom-one-dark-pro"] pre[class*="language-"]::-moz-selection, [data-theme="atom-one-dark-pro"] pre[class*="language-"] ::-moz-selection, [data-theme="atom-one-dark-pro"] code[class*="language-"]::-moz-selection, [data-theme="atom-one-dark-pro"] code[class*="language-"] ::-moz-selection {
    text-shadow: none;
    background: #67769660;
}
[data-theme="atom-one-dark-pro"] pre[class*="language-"]::selection, [data-theme="atom-one-dark-pro"] pre[class*="language-"] ::selection, [data-theme="atom-one-dark-pro"] code[class*="language-"]::selection, [data-theme="atom-one-dark-pro"] code[class*="language-"] ::selection {
    text-shadow: none;
    background: #67769660;
}
@media print {
    [data-theme="atom-one-dark-pro"] code[class*="language-"], [data-theme="atom-one-dark-pro"] pre[class*="language-"] {
        text-shadow: none;
    }
}
[data-theme="atom-one-dark-pro"] pre[class*="language-"] {
    overflow: auto;
}
[data-theme="atom-one-dark-pro"] :not(pre) > code[class*="language-"], [data-theme="atom-one-dark-pro"] pre[class*="language-"] {
    color: #abb2bf;
}
[data-theme="atom-one-dark-pro"] :not(pre) > code[class*="language-"] {
    padding: 0.1em;
    border-radius: 0.3em;
    white-space: normal;
}
[data-theme="atom-one-dark-pro"] .token.builtin {
    color: #e5c07b;
}
[data-theme="atom-one-dark-pro"] .token.namespace {
    color: #e5c07b;
}
[data-theme="atom-one-dark-pro"] .token.tag.class-name {
    color: #e5c07b;
}
[data-theme="atom-one-dark-pro"] .token.class-name {
    color: #e5c07b;
}
[data-theme="atom-one-dark-pro"] .token.selector {
    color: #d19a66;
}
[data-theme="atom-one-dark-pro"] .token.number {
    color: #d19a66;
}
[data-theme="atom-one-dark-pro"] .token.constant {
    color: #d19a66;
}
[data-theme="atom-one-dark-pro"] .token.attr-name {
    color: #d19a66;
}
[data-theme="atom-one-dark-pro"] .token.tag.attr-name {
    color: #d19a66;
}
[data-theme="atom-one-dark-pro"] .token.function {
    color: #61afef;
}
[data-theme="atom-one-dark-pro"] .token.content {
    color: #61afef;
}
[data-theme="atom-one-dark-pro"] .token.url.content {
    color: #61afef;
}
[data-theme="atom-one-dark-pro"] .token.operator {
    color: #abb2bf;
}
[data-theme="atom-one-dark-pro"] .token.property {
    color: #abb2bf;
}
[data-theme="atom-one-dark-pro"] .token.tag.punctuation {
    color: #abb2bf;
}
[data-theme="atom-one-dark-pro"] .token.keyword {
    color: #c678dd;
}
[data-theme="atom-one-dark-pro"] .token.url {
    color: #c678dd;
}
[data-theme="atom-one-dark-pro"] .token.variable {
    color: #e06c75;
}
[data-theme="atom-one-dark-pro"] .token.tag {
    color: #e06c75;
}
[data-theme="atom-one-dark-pro"] .token.title {
    color: #e06c75;
}
[data-theme="atom-one-dark-pro"] .token.title.punctuation {
    color: #e06c75;
}
[data-theme="atom-one-dark-pro"] .token.namespace.punctuation {
    color: #e06c75;
}
[data-theme="atom-one-dark-pro"] [class*="language-json"] span[class="token property"] {
    color: #e06c75;
}
[data-theme="atom-one-dark-pro"] .token.deleted {
    color: #e06c75;
}
[data-theme="atom-one-dark-pro"] .token.macro {
    color: #56b6c2;
}
[data-theme="atom-one-dark-pro"] .token.symbol {
    color: #56b6c2;
}
[data-theme="atom-one-dark-pro"] .token.regex {
    color: #56b6c2;
}
[data-theme="atom-one-dark-pro"] .token.string {
    color: #98c379;
}
[data-theme="atom-one-dark-pro"] .token.tag.attr-value {
    color: #98c379;
}
[data-theme="atom-one-dark-pro"] .token.code-snippet {
    color: #98c379;
}
[data-theme="atom-one-dark-pro"] .token.inserted {
    color: #98c379;
}
[data-theme="atom-one-dark-pro"] .token.comment {
    color: #7f848e;
    font-style: italic;
}
[data-theme="atom-one-dark-pro"] .token.important, [data-theme="atom-one-dark-pro"] .token.bold {
    font-weight: bold;
}
[data-theme="atom-one-dark-pro"] .token.italic {
    font-style: italic;
}
[data-theme="atom-one-dark-pro"] .token.url {
    text-decoration: underline;
}
[data-theme="atom-one-dark-pro"] pre[class*="language-javascript"], [data-theme="atom-one-dark-pro"] code[class*="language-javascript"], [data-theme="atom-one-dark-pro"] pre[class*="language-jsx"], [data-theme="atom-one-dark-pro"] code[class*="language-jsx"], [data-theme="atom-one-dark-pro"] pre[class*="language-typescript"], [data-theme="atom-one-dark-pro"] code[class*="language-typescript"], [data-theme="atom-one-dark-pro"] pre[class*="language-tsx"], [data-theme="atom-one-dark-pro"] code[class*="language-tsx"] {
    color: #e5c07b;
}
[data-theme="atom-one-dark-pro"] pre[class*="language-css"], [data-theme="atom-one-dark-pro"] code[class*="language-css"] {
    color: #d19a66;
}
