[data-theme="dracula"] {
    /* Code blocks */
}
[data-theme="dracula"] code[class*="language-"], [data-theme="dracula"] pre[class*="language-"] {
    color: #f8f8f2;
    font-family: Menlo, Monaco, Consolas, "Andale Mono", "Ubuntu Mono", "Courier New", monospace;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}
[data-theme="dracula"] pre[class*="language-"]::-moz-selection, [data-theme="dracula"] pre[class*="language-"] ::-moz-selection, [data-theme="dracula"] code[class*="language-"]::-moz-selection, [data-theme="dracula"] code[class*="language-"] ::-moz-selection {
    text-shadow: none;
    background: #44475a;
}
[data-theme="dracula"] pre[class*="language-"]::selection, [data-theme="dracula"] pre[class*="language-"] ::selection, [data-theme="dracula"] code[class*="language-"]::selection, [data-theme="dracula"] code[class*="language-"] ::selection {
    text-shadow: none;
    background: #44475a;
}
@media print {
    [data-theme="dracula"] code[class*="language-"], [data-theme="dracula"] pre[class*="language-"] {
        text-shadow: none;
    }
}
[data-theme="dracula"] pre[class*="language-"] {
    overflow: auto;
}
[data-theme="dracula"] :not(pre) > code[class*="language-"], [data-theme="dracula"] pre[class*="language-"] {
    color: #f8f8f2;
}
[data-theme="dracula"] :not(pre) > code[class*="language-"] {
    padding: 0.1em;
    border-radius: 0.3em;
    white-space: normal;
}
[data-theme="dracula"] .token.prolog {
    color: #bd93f9;
}
[data-theme="dracula"] .token.constant {
    color: #bd93f9;
}
[data-theme="dracula"] .token.number {
    color: #bd93f9;
}
[data-theme="dracula"] .token.builtin {
    color: #bd93f9;
}
[data-theme="dracula"] .token.tag.script {
    color: #bd93f9;
}
[data-theme="dracula"] .token.inserted {
    color: #50fa7b;
}
[data-theme="dracula"] .token.code-snippet {
    color: #50fa7b;
}
[data-theme="dracula"] .token.keyword.code-snippet {
    color: #50fa7b;
}
[data-theme="dracula"] .token.function {
    color: #50fa7b;
}
[data-theme="dracula"] .token.macro {
    color: #50fa7b;
}
[data-theme="dracula"] .token.macro.property {
    color: #50fa7b;
}
[data-theme="dracula"] .token.deleted {
    color: #f55;
}
[data-theme="dracula"] .token.changed {
    color: #ffb86c;
}
[data-theme="dracula"] .token.title {
    color: #bd93f9;
    font-weight: bold;
}
[data-theme="dracula"] .token.title.punctuation {
    color: #bd93f9;
    font-weight: bold;
}
[data-theme="dracula"] [class*="language-markdown"] span[class="token url"] {
    color: #8be9fd;
}
[data-theme="dracula"] .token.url.content {
    color: #ff79c6;
}
[data-theme="dracula"] .token.tag {
    color: #ff79c6;
}
[data-theme="dracula"] .token.keyword {
    color: #ff79c6;
}
[data-theme="dracula"] .token.class-name {
    color: #8be9fd;
    font-style: italic;
}
[data-theme="dracula"] .token.tag.class-name {
    color: #8be9fd;
    font-style: italic;
}
[data-theme="dracula"] .token.comment {
    color: #6272a4;
}
[data-theme="dracula"] .token.attr-name {
    color: #50fa7b;
    font-style: italic;
}
[data-theme="dracula"] .token.tag.attr-name {
    color: #50fa7b;
    font-style: italic;
}
[data-theme="dracula"] .token.selector {
    color: #50fa7b;
    font-style: italic;
}
[data-theme="dracula"] .token.property {
    color: #8be9fd;
}
[data-theme="dracula"] .token.regex {
    color: #f1fa8c;
}
[data-theme="dracula"] .token.string {
    color: #f1fa8c;
}
[data-theme="dracula"] .token.tag.attr-value {
    color: #f1fa8c;
}
[data-theme="dracula"] .token.content {
    color: #f1fa8c;
}
[data-theme="dracula"] .token.variable {
    color: #f8f8f2;
}
[data-theme="dracula"] .token.tag.punctuation {
    color: #f8f8f2;
}
[data-theme="dracula"] .token.important, [data-theme="dracula"] .token.bold {
    font-weight: bold;
}
[data-theme="dracula"] .token.italic {
    font-style: italic;
}
[data-theme="dracula"] .token.url {
    text-decoration: underline;
}
