[data-theme="github-dark"] {
    /* Code blocks */
}
[data-theme="github-dark"] code[class*="language-"], [data-theme="github-dark"] pre[class*="language-"] {
    color: #e1e4e8;
    font-family: Menlo, Monaco, Consolas, "Andale Mono", "Ubuntu Mono", "Courier New", monospace;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}
[data-theme="github-dark"] pre[class*="language-"]::-moz-selection, [data-theme="github-dark"] pre[class*="language-"] ::-moz-selection, [data-theme="github-dark"] code[class*="language-"]::-moz-selection, [data-theme="github-dark"] code[class*="language-"] ::-moz-selection {
    text-shadow: none;
    background: #3392ff44;
}
[data-theme="github-dark"] pre[class*="language-"]::selection, [data-theme="github-dark"] pre[class*="language-"] ::selection, [data-theme="github-dark"] code[class*="language-"]::selection, [data-theme="github-dark"] code[class*="language-"] ::selection {
    text-shadow: none;
    background: #3392ff44;
}
@media print {
    [data-theme="github-dark"] code[class*="language-"], [data-theme="github-dark"] pre[class*="language-"] {
        text-shadow: none;
    }
}
[data-theme="github-dark"] pre[class*="language-"] {
    overflow: auto;
}
[data-theme="github-dark"] :not(pre) > code[class*="language-"], [data-theme="github-dark"] pre[class*="language-"] {
    color: #e1e4e8;
}
[data-theme="github-dark"] :not(pre) > code[class*="language-"] {
    padding: 0.1em;
    border-radius: 0.3em;
    white-space: normal;
}
[data-theme="github-dark"] .token.comment {
    color: #6a737d;
}
[data-theme="github-dark"] .token.constant {
    color: #79b8ff;
}
[data-theme="github-dark"] .token.number {
    color: #79b8ff;
}
[data-theme="github-dark"] .token.tag.class-name {
    color: #79b8ff;
}
[data-theme="github-dark"] .token.builtin {
    color: #79b8ff;
}
[data-theme="github-dark"] .token.property {
    color: #79b8ff;
}
[data-theme="github-dark"] .token.code-snippet {
    color: #79b8ff;
}
[data-theme="github-dark"] .token.tag {
    color: #85e89d;
}
[data-theme="github-dark"] .token.selector {
    color: #b392f0;
}
[data-theme="github-dark"] .token.function {
    color: #b392f0;
}
[data-theme="github-dark"] .token.class-name {
    color: #b392f0;
}
[data-theme="github-dark"] .token.tag.attr-name {
    color: #b392f0;
}
[data-theme="github-dark"] .token.namespace {
    color: #b392f0;
}
[data-theme="github-dark"] .token.keyword {
    color: #f97583;
}
[data-theme="github-dark"] .token.string {
    color: #9ecbff;
}
[data-theme="github-dark"] .token.tag.attr-value {
    color: #9ecbff;
}
[data-theme="github-dark"] .token.content {
    color: #dbedff;
    text-decoration: underline;
}
[data-theme="github-dark"] .token.url.content {
    color: #dbedff;
    text-decoration: underline;
}
[data-theme="github-dark"] .token.variable {
    color: #ffab70;
}
[data-theme="github-dark"] .token.tag.punctuation {
    color: #e1e4e8;
}
[data-theme="github-dark"] .token.regex {
    color: #dbedff;
}
[data-theme="github-dark"] .token.title {
    color: #79b8ff;
    font-weight: bold;
}
[data-theme="github-dark"] .token.title.punctuation {
    color: #79b8ff;
    font-weight: bold;
}
[data-theme="github-dark"] .token.deleted {
    color: #fdaeb7;
}
[data-theme="github-dark"] .token.inserted {
    color: #85e89d;
}
[data-theme="github-dark"] .token.changed {
    color: #ffab70;
}
[data-theme="github-dark"] .token.important, [data-theme="github-dark"] .token.bold {
    font-weight: bold;
}
[data-theme="github-dark"] .token.italic {
    font-style: italic;
}
[data-theme="github-dark"] .token.url {
    text-decoration: underline;
}
