[data-theme="gruvbox-dark"] {
    /* Code blocks */
}
[data-theme="gruvbox-dark"] code[class*="language-"], [data-theme="gruvbox-dark"] pre[class*="language-"] {
    color: #ebdbb2;
    font-family: Menlo, Monaco, Consolas, "Andale Mono", "Ubuntu Mono", "Courier New", monospace;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}
[data-theme="gruvbox-dark"] pre[class*="language-"]::-moz-selection, [data-theme="gruvbox-dark"] pre[class*="language-"] ::-moz-selection, [data-theme="gruvbox-dark"] code[class*="language-"]::-moz-selection, [data-theme="gruvbox-dark"] code[class*="language-"] ::-moz-selection {
    text-shadow: none;
    background: #689d6a40;
}
[data-theme="gruvbox-dark"] pre[class*="language-"]::selection, [data-theme="gruvbox-dark"] pre[class*="language-"] ::selection, [data-theme="gruvbox-dark"] code[class*="language-"]::selection, [data-theme="gruvbox-dark"] code[class*="language-"] ::selection {
    text-shadow: none;
    background: #689d6a40;
}
@media print {
    [data-theme="gruvbox-dark"] code[class*="language-"], [data-theme="gruvbox-dark"] pre[class*="language-"] {
        text-shadow: none;
    }
}
[data-theme="gruvbox-dark"] pre[class*="language-"] {
    overflow: auto;
}
[data-theme="gruvbox-dark"] :not(pre) > code[class*="language-"], [data-theme="gruvbox-dark"] pre[class*="language-"] {
    color: #ebdbb2;
}
[data-theme="gruvbox-dark"] :not(pre) > code[class*="language-"] {
    padding: 0.1em;
    border-radius: 0.3em;
    white-space: normal;
}
[data-theme="gruvbox-dark"] .token.prolog {
    color: #458588;
}
[data-theme="gruvbox-dark"] .token.comment {
    color: #928374;
    font-style: italic;
}
[data-theme="gruvbox-dark"] .token.constant {
    color: #d3869b;
}
[data-theme="gruvbox-dark"] .token.builtin {
    color: #d3869b;
}
[data-theme="gruvbox-dark"] [class*="language-markdown"] span[class="token url"] {
    color: #d3869b;
}
[data-theme="gruvbox-dark"] [class*="language-go"] span[class="token function"] {
    color: #d3869b;
}
[data-theme="gruvbox-dark"] .token.attr-name {
    color: #fabd2f;
}
[data-theme="gruvbox-dark"] .token.tag.attr-name {
    color: #fabd2f;
}
[data-theme="gruvbox-dark"] .token.function {
    color: #fabd2f;
}
[data-theme="gruvbox-dark"] .token.class-name {
    color: #fabd2f;
}
[data-theme="gruvbox-dark"] .token.tag {
    color: #8ec07c;
}
[data-theme="gruvbox-dark"] .token.selector {
    color: #8ec07c;
}
[data-theme="gruvbox-dark"] .token.operator {
    color: #8ec07c;
}
[data-theme="gruvbox-dark"] .token.code-snippet {
    color: #8ec07c;
}
[data-theme="gruvbox-dark"] [class*="language-markdown"] span[class="token tag"] {
    color: #8ec07c;
}
[data-theme="gruvbox-dark"] .token.string {
    color: #b8bb26;
}
[data-theme="gruvbox-dark"] .token.tag.attr-value {
    color: #b8bb26;
}
[data-theme="gruvbox-dark"] .token.inserted {
    color: #b8bb26;
}
[data-theme="gruvbox-dark"] [class*="language-json"] span[class="token property"] {
    color: #b8bb26;
}
[data-theme="gruvbox-dark"] .token.content {
    color: #928374;
    text-decoration: underline;
}
[data-theme="gruvbox-dark"] .token.regex {
    color: #fe8019;
}
[data-theme="gruvbox-dark"] .token.changed {
    color: #fe8019;
}
[data-theme="gruvbox-dark"] [class*="language-css"] span[class="token property"] {
    color: #fe8019;
}
[data-theme="gruvbox-dark"] .token.property {
    color: #689d6a;
}
[data-theme="gruvbox-dark"] .token.keyword {
    color: #fb4934;
}
[data-theme="gruvbox-dark"] .token.variable {
    color: #83a598;
}
[data-theme="gruvbox-dark"] [class*="language-json"] span[class="token string"], [data-theme="gruvbox-dark"] [class*="language-json"] span[class="token tag attr-value"], [data-theme="gruvbox-dark"] [class*="language-json"] span[class="token content"] {
    color: #83a598;
}
[data-theme="gruvbox-dark"] .token.tag.punctuation {
    color: #83a598;
}
[data-theme="gruvbox-dark"] .token.punctuation {
    color: #a89984;
}
[data-theme="gruvbox-dark"] .token.title {
    color: #fe8019;
    font-weight: bold;
}
[data-theme="gruvbox-dark"] .token.title.punctuation {
    color: #fe8019;
    font-weight: bold;
}
[data-theme="gruvbox-dark"] .token.deleted {
    color: #d65d0e;
}
[data-theme="gruvbox-dark"] [class*="language-css"] span[class="token selector"] {
    color: #ebdbb2;
}
[data-theme="gruvbox-dark"] [class*="language-html"] span[class="token tag"] {
    color: #8ec07c;
    font-weight: bold;
}
[data-theme="gruvbox-dark"] .token.important, [data-theme="gruvbox-dark"] .token.bold {
    font-weight: bold;
}
[data-theme="gruvbox-dark"] .token.italic {
    font-style: italic;
}
[data-theme="gruvbox-dark"] .token.url {
    text-decoration: underline;
}
[data-theme="gruvbox-dark"] pre[class*="language-javascript"], [data-theme="gruvbox-dark"] code[class*="language-javascript"], [data-theme="gruvbox-dark"] pre[class*="language-jsx"], [data-theme="gruvbox-dark"] code[class*="language-jsx"], [data-theme="gruvbox-dark"] pre[class*="language-typescript"], [data-theme="gruvbox-dark"] code[class*="language-typescript"], [data-theme="gruvbox-dark"] pre[class*="language-tsx"], [data-theme="gruvbox-dark"] code[class*="language-tsx"] {
    color: #83a598;
}
[data-theme="gruvbox-dark"] pre[class*="language-css"], [data-theme="gruvbox-dark"] code[class*="language-css"] {
    color: #d3869b;
}
