[data-theme="kimbie-dark"] {
    /* Code blocks */
}
[data-theme="kimbie-dark"] code[class*="language-"], [data-theme="kimbie-dark"] pre[class*="language-"] {
    color: #d3af86;
    font-family: Menlo, Monaco, Consolas, "Andale Mono", "Ubuntu Mono", "Courier New", monospace;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}
[data-theme="kimbie-dark"] pre[class*="language-"]::-moz-selection, [data-theme="kimbie-dark"] pre[class*="language-"] ::-moz-selection, [data-theme="kimbie-dark"] code[class*="language-"]::-moz-selection, [data-theme="kimbie-dark"] code[class*="language-"] ::-moz-selection {
    text-shadow: none;
    background: #84613daa;
}
[data-theme="kimbie-dark"] pre[class*="language-"]::selection, [data-theme="kimbie-dark"] pre[class*="language-"] ::selection, [data-theme="kimbie-dark"] code[class*="language-"]::selection, [data-theme="kimbie-dark"] code[class*="language-"] ::selection {
    text-shadow: none;
    background: #84613daa;
}
@media print {
    [data-theme="kimbie-dark"] code[class*="language-"], [data-theme="kimbie-dark"] pre[class*="language-"] {
        text-shadow: none;
    }
}
[data-theme="kimbie-dark"] pre[class*="language-"] {
    overflow: auto;
}
[data-theme="kimbie-dark"] :not(pre) > code[class*="language-"], [data-theme="kimbie-dark"] pre[class*="language-"] {
    color: #d3af86;
}
[data-theme="kimbie-dark"] :not(pre) > code[class*="language-"] {
    padding: 0.1em;
    border-radius: 0.3em;
    white-space: normal;
}
[data-theme="kimbie-dark"] .token.comment {
    color: #a57a4c;
}
[data-theme="kimbie-dark"] .token.namespace.punctuation {
    color: #d3af86;
}
[data-theme="kimbie-dark"] .token.operator {
    color: #d3af86;
}
[data-theme="kimbie-dark"] .token.keyword {
    color: #98676a;
}
[data-theme="kimbie-dark"] .token.selector {
    color: #98676a;
}
[data-theme="kimbie-dark"] .token.changed {
    color: #98676a;
}
[data-theme="kimbie-dark"] .token.variable {
    color: #dc3958;
}
[data-theme="kimbie-dark"] .token.content {
    color: #dc3958;
}
[data-theme="kimbie-dark"] .token.tag {
    color: #dc3958;
}
[data-theme="kimbie-dark"] .token.url.content {
    color: #dc3958;
}
[data-theme="kimbie-dark"] .token.deleted {
    color: #dc3958;
}
[data-theme="kimbie-dark"] .token.function {
    color: #8ab1b0;
}
[data-theme="kimbie-dark"] .token.tag.class-name {
    color: #f06431;
}
[data-theme="kimbie-dark"] .token.class-name {
    color: #f06431;
}
[data-theme="kimbie-dark"] .token.namespace {
    color: #f06431;
}
[data-theme="kimbie-dark"] .token.builtin {
    color: #7e602c;
}
[data-theme="kimbie-dark"] .token.macro {
    color: #7e602c;
}
[data-theme="kimbie-dark"] .token.hexcode {
    color: #7e602c;
}
[data-theme="kimbie-dark"] .token.regex {
    color: #7e602c;
}
[data-theme="kimbie-dark"] .token.string {
    color: #889b4a;
}
[data-theme="kimbie-dark"] .token.tag.attr-value {
    color: #889b4a;
}
[data-theme="kimbie-dark"] .token.symbol {
    color: #889b4a;
}
[data-theme="kimbie-dark"] .token.code-snippet {
    color: #889b4a;
}
[data-theme="kimbie-dark"] .token.inserted {
    color: #889b4a;
}
[data-theme="kimbie-dark"] .token.number {
    color: #f79a32;
}
[data-theme="kimbie-dark"] .token.constant {
    color: #f79a32;
}
[data-theme="kimbie-dark"] .token.attr-name {
    color: #f79a32;
}
[data-theme="kimbie-dark"] .token.tag.attr-name {
    color: #f79a32;
}
[data-theme="kimbie-dark"] .token.url {
    color: #f79a32;
}
[data-theme="kimbie-dark"] .token.title {
    color: #8ab1b0;
    font-weight: bold;
}
[data-theme="kimbie-dark"] .token.title.punctuation {
    color: #8ab1b0;
    font-weight: bold;
}
[data-theme="kimbie-dark"] .token.important, [data-theme="kimbie-dark"] .token.bold {
    font-weight: bold;
}
[data-theme="kimbie-dark"] .token.italic {
    font-style: italic;
}
[data-theme="kimbie-dark"] .token.url {
    text-decoration: underline;
}
[data-theme="kimbie-dark"] pre[class*="language-javascript"], [data-theme="kimbie-dark"] code[class*="language-javascript"], [data-theme="kimbie-dark"] pre[class*="language-jsx"], [data-theme="kimbie-dark"] code[class*="language-jsx"], [data-theme="kimbie-dark"] pre[class*="language-typescript"], [data-theme="kimbie-dark"] code[class*="language-typescript"], [data-theme="kimbie-dark"] pre[class*="language-tsx"], [data-theme="kimbie-dark"] code[class*="language-tsx"] {
    color: #dc3958;
}
