[data-theme="material"] {
    /* Code blocks */
}
[data-theme="material"] code[class*="language-"], [data-theme="material"] pre[class*="language-"] {
    color: #eff;
    font-family: Menlo, Monaco, Consolas, "Andale Mono", "Ubuntu Mono", "Courier New", monospace;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}
[data-theme="material"] pre[class*="language-"]::-moz-selection, [data-theme="material"] pre[class*="language-"] ::-moz-selection, [data-theme="material"] code[class*="language-"]::-moz-selection, [data-theme="material"] code[class*="language-"] ::-moz-selection {
    text-shadow: none;
    background: #80cbc420;
}
[data-theme="material"] pre[class*="language-"]::selection, [data-theme="material"] pre[class*="language-"] ::selection, [data-theme="material"] code[class*="language-"]::selection, [data-theme="material"] code[class*="language-"] ::selection {
    text-shadow: none;
    background: #80cbc420;
}
@media print {
    [data-theme="material"] code[class*="language-"], [data-theme="material"] pre[class*="language-"] {
        text-shadow: none;
    }
}
[data-theme="material"] pre[class*="language-"] {
    overflow: auto;
}
[data-theme="material"] :not(pre) > code[class*="language-"], [data-theme="material"] pre[class*="language-"] {
    color: #eff;
}
[data-theme="material"] :not(pre) > code[class*="language-"] {
    padding: 0.1em;
    border-radius: 0.3em;
    white-space: normal;
}
[data-theme="material"] .token.comment {
    color: #546e7a;
    font-style: italic;
}
[data-theme="material"] .token.variable {
    color: #eff;
}
[data-theme="material"] .token.hexcode {
    color: #fff;
}
[data-theme="material"] .token.keyword {
    color: #c792ea;
}
[data-theme="material"] .token.changed {
    color: #c792ea;
}
[data-theme="material"] .token.tag.punctuation {
    color: #89ddff;
}
[data-theme="material"] .token.punctuation {
    color: #89ddff;
}
[data-theme="material"] .token.namespace.punctuation {
    color: #89ddff;
}
[data-theme="material"] .token.regex {
    color: #89ddff;
}
[data-theme="material"] .token.tag {
    color: #f07178;
}
[data-theme="material"] .token.builtin {
    color: #f07178;
}
[data-theme="material"] .token.url.content {
    color: #f07178;
}
[data-theme="material"] .token.tag.class-name {
    color: #ffcb6b;
}
[data-theme="material"] .token.namespace {
    color: #ffcb6b;
}
[data-theme="material"] .token.property {
    color: #ffcb6b;
}
[data-theme="material"] .token.function {
    color: #82aaff;
}
[data-theme="material"] .token.macro {
    color: #82aaff;
}
[data-theme="material"] .token.content {
    color: #82aaff;
}
[data-theme="material"] .token.number {
    color: #f78c6c;
}
[data-theme="material"] .token.char {
    color: #f78c6c;
}
[data-theme="material"] .token.string {
    color: #c3e88d;
}
[data-theme="material"] .token.tag.attr-value {
    color: #c3e88d;
}
[data-theme="material"] .token.symbol {
    color: #c3e88d;
}
[data-theme="material"] .token.class-name {
    color: #c3e88d;
}
[data-theme="material"] .token.title {
    color: #c3e88d;
}
[data-theme="material"] .token.title.punctuation {
    color: #c3e88d;
}
[data-theme="material"] .token.inserted {
    color: #c3e88d;
}
[data-theme="material"] .token.selector {
    color: #c792ea;
    font-style: italic;
}
[data-theme="material"] .token.attr-name {
    color: #c792ea;
    font-style: italic;
}
[data-theme="material"] [class*="language-css"] span[class="token property"] {
    color: #b2ccd6;
}
[data-theme="material"] .token.deleted {
    color: #ff5370;
}
[data-theme="material"] [class*="language-json"] span[class="token property"] {
    color: #ff5370;
}
[data-theme="material"] .token.code-snippet {
    color: #eeff90;
}
[data-theme="material"] .token.important, [data-theme="material"] .token.bold {
    font-weight: bold;
}
[data-theme="material"] .token.italic {
    font-style: italic;
}
[data-theme="material"] .token.url {
    text-decoration: underline;
}
