[data-theme="quiet-light"] {
    /* Code blocks */
}
[data-theme="quiet-light"] code[class*="language-"], [data-theme="quiet-light"] pre[class*="language-"] {
    color: #777;
    font-family: Menlo, Monaco, Consolas, "Andale Mono", "Ubuntu Mono", "Courier New", monospace;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}
[data-theme="quiet-light"] pre[class*="language-"]::-moz-selection, [data-theme="quiet-light"] pre[class*="language-"] ::-moz-selection, [data-theme="quiet-light"] code[class*="language-"]::-moz-selection, [data-theme="quiet-light"] code[class*="language-"] ::-moz-selection {
    text-shadow: none;
    background: #c9d0d9;
}
[data-theme="quiet-light"] pre[class*="language-"]::selection, [data-theme="quiet-light"] pre[class*="language-"] ::selection, [data-theme="quiet-light"] code[class*="language-"]::selection, [data-theme="quiet-light"] code[class*="language-"] ::selection {
    text-shadow: none;
    background: #c9d0d9;
}
@media print {
    [data-theme="quiet-light"] code[class*="language-"], [data-theme="quiet-light"] pre[class*="language-"] {
        text-shadow: none;
    }
}
[data-theme="quiet-light"] pre[class*="language-"] {
    overflow: auto;
}
[data-theme="quiet-light"] :not(pre) > code[class*="language-"], [data-theme="quiet-light"] pre[class*="language-"] {
    color: #777;
}
[data-theme="quiet-light"] :not(pre) > code[class*="language-"] {
    padding: 0.1em;
    border-radius: 0.3em;
    white-space: normal;
}
[data-theme="quiet-light"] .token.comment {
    color: #aaa;
    font-style: italic;
}
[data-theme="quiet-light"] .token.operator {
    color: #777;
}
[data-theme="quiet-light"] .token.punctuation {
    color: #777;
}
[data-theme="quiet-light"] .token.keyword {
    color: #4b69c6;
}
[data-theme="quiet-light"] .token.regex {
    color: #4b69c6;
}
[data-theme="quiet-light"] .token.tag {
    color: #4b69c6;
}
[data-theme="quiet-light"] .token.url {
    color: #4b69c6;
}
[data-theme="quiet-light"] .token.property {
    color: #9c5d27;
}
[data-theme="quiet-light"] .token.builtin {
    color: #9c5d27;
}
[data-theme="quiet-light"] .token.constant {
    color: #9c5d27;
}
[data-theme="quiet-light"] .token.number {
    color: #9c5d27;
}
[data-theme="quiet-light"] .token.char {
    color: #9c5d27;
}
[data-theme="quiet-light"] .token.symbol {
    color: #9c5d27;
}
[data-theme="quiet-light"] .token.code-snippet {
    color: #9c5d27;
}
[data-theme="quiet-light"] .token.variable {
    color: #7a3e9d;
}
[data-theme="quiet-light"] .token.selector {
    color: #7a3e9d;
}
[data-theme="quiet-light"] .token.function {
    color: #aa3731;
    font-weight: bold;
}
[data-theme="quiet-light"] .token.macro {
    color: #aa3731;
    font-weight: bold;
}
[data-theme="quiet-light"] .token.namespace {
    color: #7a3e9d;
    font-weight: bold;
}
[data-theme="quiet-light"] .token.tag.class-name {
    color: #7a3e9d;
    font-weight: bold;
}
[data-theme="quiet-light"] .token.class-name {
    color: #7a3e9d;
    font-weight: bold;
}
[data-theme="quiet-light"] .token.string {
    color: #448c27;
}
[data-theme="quiet-light"] .token.tag.attr-value {
    color: #448c27;
}
[data-theme="quiet-light"] .token.content {
    color: #448c27;
}
[data-theme="quiet-light"] .token.attr-name {
    color: #8190a0;
    font-style: italic;
}
[data-theme="quiet-light"] .token.tag.attr-name {
    color: #8190a0;
    font-style: italic;
}
[data-theme="quiet-light"] .token.changed {
    color: #000;
}
[data-theme="quiet-light"] .token.deleted {
    color: #000;
}
[data-theme="quiet-light"] .token.inserted {
    color: #000;
}
[data-theme="quiet-light"] .token.title {
    color: #aa3731;
}
[data-theme="quiet-light"] .token.title.punctuation {
    color: #aa3731;
}
[data-theme="quiet-light"] .token.important, [data-theme="quiet-light"] .token.bold {
    font-weight: bold;
}
[data-theme="quiet-light"] .token.italic {
    font-style: italic;
}
[data-theme="quiet-light"] .token.url {
    text-decoration: underline;
}
[data-theme="quiet-light"] pre[class*="language-javascript"], [data-theme="quiet-light"] code[class*="language-javascript"], [data-theme="quiet-light"] pre[class*="language-jsx"], [data-theme="quiet-light"] code[class*="language-jsx"], [data-theme="quiet-light"] pre[class*="language-typescript"], [data-theme="quiet-light"] code[class*="language-typescript"], [data-theme="quiet-light"] pre[class*="language-tsx"], [data-theme="quiet-light"] code[class*="language-tsx"] {
    color: #7a3e9d;
}
[data-theme="quiet-light"] pre[class*="language-css"], [data-theme="quiet-light"] code[class*="language-css"] {
    color: #448c27;
}
