[data-theme="tomorrow-night-blue"] {
    /* Code blocks */
}
[data-theme="tomorrow-night-blue"] code[class*="language-"], [data-theme="tomorrow-night-blue"] pre[class*="language-"] {
    color: #fff;
    font-family: Menlo, Monaco, Consolas, "Andale Mono", "Ubuntu Mono", "Courier New", monospace;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}
[data-theme="tomorrow-night-blue"] pre[class*="language-"]::-moz-selection, [data-theme="tomorrow-night-blue"] pre[class*="language-"] ::-moz-selection, [data-theme="tomorrow-night-blue"] code[class*="language-"]::-moz-selection, [data-theme="tomorrow-night-blue"] code[class*="language-"] ::-moz-selection {
    text-shadow: none;
    background: #003f8e;
}
[data-theme="tomorrow-night-blue"] pre[class*="language-"]::selection, [data-theme="tomorrow-night-blue"] pre[class*="language-"] ::selection, [data-theme="tomorrow-night-blue"] code[class*="language-"]::selection, [data-theme="tomorrow-night-blue"] code[class*="language-"] ::selection {
    text-shadow: none;
    background: #003f8e;
}
@media print {
    [data-theme="tomorrow-night-blue"] code[class*="language-"], [data-theme="tomorrow-night-blue"] pre[class*="language-"] {
        text-shadow: none;
    }
}
[data-theme="tomorrow-night-blue"] pre[class*="language-"] {
    overflow: auto;
}
[data-theme="tomorrow-night-blue"] :not(pre) > code[class*="language-"], [data-theme="tomorrow-night-blue"] pre[class*="language-"] {
    color: #fff;
}
[data-theme="tomorrow-night-blue"] :not(pre) > code[class*="language-"] {
    padding: 0.1em;
    border-radius: 0.3em;
    white-space: normal;
}
[data-theme="tomorrow-night-blue"] .token.comment {
    color: #7285b7;
}
[data-theme="tomorrow-night-blue"] .token.operator {
    color: #fff;
}
[data-theme="tomorrow-night-blue"] .token.constant {
    color: #fff;
}
[data-theme="tomorrow-night-blue"] .token.variable {
    color: #ff9da4;
}
[data-theme="tomorrow-night-blue"] .token.content {
    color: #ff9da4;
}
[data-theme="tomorrow-night-blue"] .token.url.content {
    color: #ff9da4;
}
[data-theme="tomorrow-night-blue"] .token.regex {
    color: #ff9da4;
}
[data-theme="tomorrow-night-blue"] .token.tag {
    color: #ff9da4;
}
[data-theme="tomorrow-night-blue"] .token.attr-name {
    color: #ff9da4;
}
[data-theme="tomorrow-night-blue"] .token.tag.attr-name {
    color: #ff9da4;
}
[data-theme="tomorrow-night-blue"] .token.code-snippet {
    color: #ff9da4;
}
[data-theme="tomorrow-night-blue"] .token.tag.class-name {
    color: #ffeead;
}
[data-theme="tomorrow-night-blue"] .token.class-name {
    color: #ffeead;
}
[data-theme="tomorrow-night-blue"] .token.namespace {
    color: #ffeead;
}
[data-theme="tomorrow-night-blue"] .token.property {
    color: #ffeead;
}
[data-theme="tomorrow-night-blue"] .token.number {
    color: #ffc58f;
}
[data-theme="tomorrow-night-blue"] .token.builtin {
    color: #ffc58f;
}
[data-theme="tomorrow-night-blue"] .token.char {
    color: #ffc58f;
}
[data-theme="tomorrow-night-blue"] .token.namespace.punctuation {
    color: #ffc58f;
}
[data-theme="tomorrow-night-blue"] .token.string {
    color: #d1f1a9;
}
[data-theme="tomorrow-night-blue"] .token.tag.attr-value {
    color: #d1f1a9;
}
[data-theme="tomorrow-night-blue"] .token.symbol {
    color: #d1f1a9;
}
[data-theme="tomorrow-night-blue"] .token.title {
    color: #d1f1a9;
}
[data-theme="tomorrow-night-blue"] .token.title.punctuation {
    color: #d1f1a9;
}
[data-theme="tomorrow-night-blue"] .token.hexcode {
    color: #9ff;
}
[data-theme="tomorrow-night-blue"] .token.function {
    color: #bbdaff;
}
[data-theme="tomorrow-night-blue"] .token.macro {
    color: #bbdaff;
}
[data-theme="tomorrow-night-blue"] .token.keyword {
    color: #ebbbff;
}
[data-theme="tomorrow-night-blue"] .token.selector {
    color: #ebbbff;
}
[data-theme="tomorrow-night-blue"] .token.important, [data-theme="tomorrow-night-blue"] .token.bold {
    font-weight: bold;
}
[data-theme="tomorrow-night-blue"] .token.italic {
    font-style: italic;
}
[data-theme="tomorrow-night-blue"] .token.url {
    text-decoration: underline;
}
[data-theme="tomorrow-night-blue"] pre[class*="language-javascript"], [data-theme="tomorrow-night-blue"] code[class*="language-javascript"], [data-theme="tomorrow-night-blue"] pre[class*="language-jsx"], [data-theme="tomorrow-night-blue"] code[class*="language-jsx"], [data-theme="tomorrow-night-blue"] pre[class*="language-typescript"], [data-theme="tomorrow-night-blue"] code[class*="language-typescript"], [data-theme="tomorrow-night-blue"] pre[class*="language-tsx"], [data-theme="tomorrow-night-blue"] code[class*="language-tsx"] {
    color: #ff9da4;
}
[data-theme="tomorrow-night-blue"] pre[class*="language-css"], [data-theme="tomorrow-night-blue"] code[class*="language-css"] {
    color: #ffc58f;
}
