replicaCount: 1

bloop:
  githubOrgName: ""
  githubOrgOwnerEmail: ""
  githubOrgOwnerFirstName: ""
  githubOrgOwnerLastName: ""
  loopsAPIKey: ""
  loopsEventName: ""
  githubAppPrivateKey: ""
  githubAppInstallId: ""
  githubClientId: ""
  githubClientSecret: ""
  instanceDomain: ""
  answerApiUrl: ""
  embeddingServerUrl: ""
  embeddingBatchSize: ""
  analyticsKey: ""
  analyticsKeyFE: ""
  analyticsDataPlane: ""
  sentryDsn: ""
  sentryDsnFE: ""
  #
  logLevel: info
  maxThreads: 2

image:
  repository: ""
  pullPolicy: Always
  tag: ""

imagePullSecrets:
  - name: eu-west-1-ecr-registry
nameOverride: ""
fullnameOverride: ""

podAnnotations: {}

securityContext: {}
  # fsGroup: 65534

podSecurityContext:
  runAsUser: 0
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000

serviceAccount:
  # Specifies whether a service account should be created
  create: true
  # Annotations to add to the service account
  annotations: {}
  # The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name: ""

service:
  type: ClusterIP
  port: 7879
  annotations: {}

ingress:
  enabled: true
  className: nginx
  annotations:
    kubernetes.io/tls-acme: "true"
    nginx.ingress.kubernetes.io/cors-allow-methods: HEAD
    nginx.ingress.kubernetes.io/cors-allow-origin: https://bloop.ai, https://staging.bloop.ai
    nginx.ingress.kubernetes.io/enable-cors: "true"
  hosts: []
  tls: []
  #  - secretName: chart-example-tls
  #    hosts:
  #      - chart-example.local

env: {}

resources:
  requests:
    cpu: 100m
    memory: 100Mi

nodeSelector: {}

tolerations: []

affinity: {}

persistence:
  accessModes: ["ReadWriteOnce"]
  size: 10Gi
  storageClassName: gp3

qdrant:
  url: ""
  collectionName: ""