name: Build and push docker container
on: pull_request

jobs:
  build_and_push:
    uses: BloopAI/workflows/.github/workflows/build-container.yml@main
    with:
      repository: bloop
      tag: build-${{ github.sha }}
      runner: self-hosted
    secrets:
      awsRegion: ${{ secrets.AWS_REGION }}
      awsAccountID: ${{ secrets.AWS_ACCOUNT_ID }}
      slackBuildWebhook: ${{ secrets.SLACK_BUILD_WEBHOOK }}

  validate_helm:
    uses: BloopAI/reusable-workflows/.github/workflows/validate-helm-chart.yml@main
    with:
      path: helm/bloop
    secrets:
      slackBuildWebhook: ${{ secrets.SLACK_BUILD_WEBHOOK }}
