name: Client Tests

on:
  pull_request:
    types: [opened, synchronize]
    branches: [main]
    paths:
      - "client/**"
      - ".github/workflows/client**"

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - run: 'echo "No checks required" '
  fmt-clippy-build:
    runs-on: ubuntu-latest
    steps:
      - run: 'echo "No checks required" '

  build-client:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: "npm"

      - name: Install dependencies
        run: npm ci

      - name: Run lint
        run: npm run lint

      - name: Run type-check
        run: npm run client-type-check

      - name: Run tests
        run: npm --prefix client run test
